[2017-12-17 10:02] bphippen opened #1 "Unknown command: scout/index/import"
Hi Rias, I'm getting "Unknown command: scout/index/import" when trying to run the import for the first time.

Edit**
This wasn't working locally with MAMP but I did get it to work using a local virtual box container.

[2017-12-20 12:28] Rias500 commented on #1
Seems like it was more of a MAMP issue then, glad you got it to work!

[2017-12-20 12:28] #1 closed

[2018-02-07 03:20] elvdm opened #4 "Exception when saving custom element"
### Description
When saving a custom element type added with a different plugin, an exception is thrown. This only happens while Scout is installed.

`Serialization of 'Closure' is not allowed`

Does not seem to matter whether the element is new or not. This issue was not happening prior to upgrading to Craft 3-RC9.

### Steps to reproduce

1. Install and enable the Scout plugin.
2. Try to save a

[2018-02-07 08:56] Rias500 commented on #4
Hi! Can you provide me with the exact mapping you're using for the entries? Then I can try to replicate the issue you're having

[2018-02-08 09:11] Rias500 commented on #4
So I've been able to track down the issue, and it has to do with how Yii serializes jobs before pushing them onto the queue, you're using a conditional validator in your element which uses a closure and closures can't be serialized into a queue.

[code]

There's some solutions [here](https://github.com/yiisoft/yii2/issues/4883#issuecomment-54029353) and [here][https://github.com/yiisoft/yii2/issue

[2018-02-08 09:11] #4 closed

[2018-03-07 01:38] matevisky commented on #1
Is there any better workaround for this? The problem is many:

- It is not working at all if we have clouser of any entry
- I am not able to say explicitly what try to push to algolia, because the mapping logic is after the queue and not before

So maybe it would be better to put the mapping logic before the queue push, also it could avoid the clouser issue I guess and would give us the freedom to

[2018-03-07 01:39] matevisky commented on #4
Is there any better workaround for this? The problem is many:

It is not working at all if we have clouser of any entry
I am not able to say explicitly what try to push to algolia, because the mapping logic is after the queue and not before
So maybe it would be better to put the mapping logic before the queue push, also it could avoid the clouser issue I guess and would give us the freedom to skip

[2018-03-07 14:42] Rias500 commented on #4
@matevisky In the new version I try to serialize it, and if it doesn't work just index it straight away. So that solves the issue if you really need a closure.

I'll think on improving this in the future.

[2018-03-07 17:31] matevisky commented on #4
Thank. Speaking frankly the filter functionality is also needed badly before putting everything into the queue. Right it is not working at all. Anyhow I will troubleshoot which custom field is causing the issue, and will let you know
Can I ask what is your plan to publish the new version? weeks/months? Thank you!

[2018-03-07 17:56] Rias500 commented on #4
This is a plugin mostly for my use case, that's why it's free and open source, if you need other functionality you can always submit a PR or fork it. And I'll consider it. Otherwise I'll adapt this plugin if my needs change in the future, I don't have an estimate for this.

If you need more flexibility and support, you might want to wait for Topshelfcraft to port the Search Plus plugin.

[2018-03-11 23:03] elvdm opened #6 "Stuck task "Adding element to index" when entry contains Checkboxes field"
Steps to reproduce:

1. Have Scout installed with no config file set on Craft CMS 3.0.0-RC14.
2. Add a Checkboxes field to your entry's field layout.
3. Save the entry (values in the field does not matter).
4. "Adding element to index" task appears as pending in the CP. It gets stuck and is never added to the queue table either (not sure how to clear it, actually).

No `phperrors.log` created, but

[2018-03-12 14:04] Rias500 commented on #6
@elvdm I've changed some stuff around on how indexing works with the Queue, let me know if https://github.com/Rias500/craft-scout/releases/tag/0.3.0 fixes the issue!

[2018-03-12 14:04] #6 closed

[2018-03-12 14:05] Rias500 commented on #4
@matevisky https://github.com/Rias500/craft-scout/releases/tag/0.3.0 restructures how indexing with the Queue works, it should be improved a lot now and not rely on serialization too much.

[2018-03-12 21:15] elvdm commented on #6
@Rias500 Thanks for the quick follow-up. Unfortunately the same issue is persisting.

[2018-03-18 15:18] Rias500 commented on #6
@elvdm seems like checkboxes are kind of a special fieldtype when they're serialized. The easiest way to fix this is by doing the following:

[code]

This will make sure it's cast to an array before sending it off to the queue and algolia.

[2018-03-19 01:59] elvdm commented on #6
@Rias500 Ah, fantastic. Thanks!

[2018-03-20 10:44] larsboldt opened #8 "Nothing getting indexed"
./craft scout/index/import
Adding elements from index .[===============] 100% (0/0) ETA: n/a

scout.php
return [
    'application_id' => '...',
    'admin_api_key' => '...',
    'mappings' => [
        [
            'indexName' => 'poc_magasin',
            'elementType' => \craft\elements\Entry::class,
            'criteria' => [
                'section' => 'cityPlanningArticles'
            ],

[2018-03-20 10:55] Rias500 commented on #8
Are you sure you're using the correct section handle and that they're all published?

[2018-03-20 10:56] larsboldt commented on #8
Yes, this code gives me all articles for the same section:
{% set entries = craft.entries.section('cityPlanningArticles').all() %}

[2018-03-20 11:05] Rias500 commented on #8
I cannot seem to reproduce this, it must be something with the section you defined, could you post a screenshot of the section settings and the content? Maybe I can find something wrong with them then.

[2018-03-20 11:08] larsboldt commented on #8
![skjermbilde 2018-03-20 kl 12 06 39](https://user-images.githubusercontent.com/201756/37651087-3e74dafc-2c37-11e8-9b99-d3f7c88c742d.png)

What content do you mean?

[2018-03-20 11:17] Rias500 commented on #8
I've just tried everything with the same settings and it works for me.

Does this return something when you try it from a module or plugin?

`\craft\elements\Entry::find()->section('cityPlanningArticles')->all();` this is what Scout runs in the background to find the entries.

[2018-03-20 11:48] larsboldt commented on #8
It does.

[2018-03-20 13:10] larsboldt commented on #8
This is the query... returns zero elements.

`craft\elements\db\EntryQuery Object
(
    [editable] =>
    [sectionId] => Array
        (
            [0] => 1
        )

    [typeId] =>
    [authorId] =>
    [authorGroupId] =>
    [postDate] =>
    [before] =>
    [after] =>
    [expiryDate] =>
    [defaultOrderBy:protected] => Array
        (
            [entries.postDate] => 3
        )

    [ele

[2018-03-20 13:39] Rias500 commented on #8
The only filter on there is `sectionId => 1` and `status => live`, I have no idea why it wouldn't return anything.

[2018-03-20 21:33] larsboldt commented on #8
Debugging the queryBuilder I found this:

´´´[where] => Array
                        (
                            [0] => and
                            [1] => Array
                                (
                                    [0] => or
                                    [1] => Array
                                        (
                                            [0] => =

[2018-03-22 15:02] Rias500 commented on #8
@larsboldt Ah, that makes sense, I think most use cases would call for seperate indexes for each site, so you could do the following in your mappings:

[code]

[2018-03-22 15:02] #8 closed

[2018-03-23 07:51] larsboldt opened #11 "Algolia query is empty"
Now that I've gotten the index imported I have a few questions:

1) I can see that when I perform an ...entries(search...) in craft, algolia gets a request, but the query is always empty. Is there any specific config I've missed?

2) The contents of matrix elements aren't indexed, just the matrix element itself, is there any way to index this as well?

[2018-03-23 07:58] Rias500 commented on #11
1. Scout doesn’t actually do the searches, only the indexing, this is better done using the JavaScript library as it’s faster or if you really need it in php you can always extend Scout for this. I don’t need this functionality so that’s why I didn’t build it

2. You can do this in the transformer by looping through your matrix and returning the fields you want.

[2018-04-10 07:29] larsboldt opened #12 "Long documents"
Is there any plans to support long documents? We currently exceed the limits of algolia row size (20kb) and Algolia refers to https://www.algolia.com/doc/guides/ranking/distinct/#distinct-to-index-large-records

Our problem comes from trying to index text fields added to a matrix field, we dont know how many text fields are added, and as such, they may exceed the limit.

My initial plan was to add

[2018-04-10 07:37] Rias500 commented on #12
This is not something that's built in to the plugin and I currently don't have plans for it either as it's not something I need.

I'll gladly accept a PR to add this feature though if you're planning to implement this 👍

[2018-04-10 08:55] larsboldt commented on #12
Ok, I will look into how to best solve this and submit a PR once/if I get a satisfactory solution.

[2018-04-10 08:55] #12 closed

[2018-04-24 04:25] matevisky opened #15 "Skip entry"
Is it possible to skip entry somehow, and not from the criteria query, but from the transformer view?

I have been tried to return null, but it failed, also tried to return empty array, which is not working either.

In some cases I need more complex logic, what I really would like to put algolia, and what not...

Thank you for the great, and free product!

[2018-04-30 19:48] matevisky opened #16 "Can you create a functionality to disable autosync?"
Hi @Rias500

I would appriciate a functionality to disable the auto save functionality of the package. Lots of change is going on, so we are updating the index daily in a bulk mode. So it would be nice to just load the env and disable the event listener for save by flag.

Like this it would be supereasy to manage when to save the index

Thank you for your help and great work!

[2018-04-30 19:49] matevisky commented on #16
Also we would definitely by and support this package if it would go for a paid version. It is a great help for us.

[2018-05-01 10:34] Rias500 commented on #16
I've added a `sync` setting to the config in the new release which allows you to disable automatic indexing of elements.

In regards to the paid version, I don't have the legal requirements to do this within my country, I'd have to set up a registered company for this and would cost me more than I'd earn from a few plugins.

On top of that keeping it open source means it's open for other contribut

[2018-05-01 10:34] #16 closed

[2018-05-01 10:36] Rias500 commented on #15
I'm not entirely sure how to do this, I was thinking maybe adding a check for returning false in the transformer that makes it skip the entry.

How would you like to have this work?

[2018-05-01 19:30] matevisky commented on #15
Ok, the dream specification should be the following:
 - I can send back the array
 - I can skip it returning null
 - Or I can force deletion with flagging maybe the array?

The reason is simple. Maybe I would like to rotate out (too old item, or it is not relevant anymore) from the searchindex something, but It will be not deleted on my side. If I am sending null, it will be remain in the search i

[2018-05-01 19:30] matevisky commented on #15
Now you can support this Wish from https://beerpay.io/Rias500/craft-scout/wishes/5ae8c06c5c3b5105c0652456

🍻 Cheers!

[2018-05-01 19:32] matevisky commented on #16
Sweet, thx. Quick question about this. If I am delete an item, what is happening? will the importer load, and force delete the item, or it will be skipped?

[2018-05-02 07:40] Rias500 commented on #16
All automatic actions will be disabled, so deleting as well.

[2018-05-02 19:56] matevisky commented on #16
That is fine, but my question is more like, when I am running

`./craft scout/index/import searchall`

Will it automatically run on every item, even if it was get deleted or not?

[2018-05-03 08:33] Rias500 commented on #16
Yes, it will run on all items that are found using the criteria in the config.

[2018-05-21 09:58] Rias500 commented on #15
So I've thought about this and will not be implementing it. It will make everything very unpredictable and more complicated than necessary.

If you want elements to be excluded from the index you could add a field on them like a flag and include this in your mapping criteria:

[code]

This way if you run the index again it will remove or add the element like you want. Skipping is not wise as your

[2018-05-21 19:19] matevisky commented on #15
Hey @Rias500 thank for considering this change. My "issue" is the following maybe you have a better workaround. My ultimate goal would be able to send and index an action which tell is the element is deleted or not.

So Maybe it is existing in Craft, and maybe it is not deleted from craft, but when I am pushing it out to algolia I would like to mark it for deletion. Can you consider this scenario?

[2018-05-22 07:13] Rias500 commented on #15
You can if you just have a field that you set to true/false and include it in the criteria. Then when you save the index is run again and the entry will then be deleted. You don't need to delete it from Craft, just have a field that is included in the criteria.

[2018-05-23 06:41] Rias500 commented on #15
I'll reopen because I think this can be solved differently without adding extra complexity with "actions". I'll have to think about it.

[2018-05-23 23:07] matevisky commented on #15
thx appreciate your effort!

Mate
+64 27 9783981

On 23 May 2018 at 18:41, Rias <notifications@github.com> wrote:

[2018-06-18 10:25] mark-chief opened #18 "Exclude disabled entry"
I'd like to remove an entry from the Algolia index if it is later disabled, how would this be possible with the plugin? Thanks

[2018-06-20 17:23] timkelty opened #20 "Consider renaming scout/index/import"
I initially was confused by `scout/index/import`, as it wasn't clear if I was importing _into_ Craft (which I realize you wouldn't ever do…), or into Algolia.

At any rate, if not renaming, perhaps just clarifying in the task command desc (adding _to Algolia_ or _from Craft_ or something)

[2018-07-20 13:30] timkelty opened #23 "FR: batch uploads to Algolia"
Often saving an entry with many relations can cause A LOT of operations to Algolia, which is more expensive, and takes longer.

Ideally, operations would be batched, using: https://www.algolia.com/doc/api-reference/api-methods/batch/

[2018-07-24 16:37] timkelty commented on #18
@mark-chief you need to do this yourself via your indexing rules.

Make sure your `criteria` contains `'status' => null,`, so that when an entry is saved as disabled, it will still index.

Then from the client (algolia) side, you need to pre-filter to only show `enabled`: https://www.algolia.com/doc/tutorials/search-ui/instant-search/filtering/add-default-filters/instantsearchjs/#filters-parameter

[2018-07-24 16:38] timkelty opened #24 "Duplicate jobs should not be added to the queue"
![screen shot 2018-07-24 at 12 34 50 pm](https://user-images.githubusercontent.com/18329/43153119-69e8394e-8f3e-11e8-99e0-4c36bc410b2a.png)

The queue should first be checked if the elementId you are indexing already exists in the queue

[2018-07-26 16:55] timkelty commented on #18
@mark-chief I take it back, Scout already has deindexing logic for this, but you'll want to add this to your criteria:

[code]

[2018-07-30 13:22] JorgeAnzola opened #25 "Multi-languages setup."
As you might remember I'm using the plugin for a multi-languages setup, add first I made a [PR](https://github.com/Rias500/craft-scout/pull/21) to change the id and prepend the site ID to the objectId. But that's not enough to have a localised search. The [docs recommend to have an index per languages](url).

**I'm really not saying this commit in my fork is the solution**, it works for me, but mi

[2018-07-30 14:44] Rias500 commented on #18
Let me know if either of those options don't work, then it might be a bug. Closing for now

[2018-07-30 14:54] JorgeAnzola commented on #25
Nevermind, with the criteria is enough, apparently.

[2018-07-30 15:04] Rias500 commented on #24
It doesn't seem possible to get this information back from the queue. I'd try and find the source of the multiple jobs being triggered and try to mitigate that

[2018-07-30 15:04] #24 closed

[2018-07-30 15:14] Rias500 commented on #23
The current architecture of the plugin and how it's setup with the Craft queues would require a big rewrite to do this, if it's even possible.

There would need to be some way to collect all the entries that would need to be updated, batch them into algolia but then also prevent their usual indexing events from happening when they're saved.

This will probably not be something that will make it in

[2018-07-30 15:14] #23 closed

[2018-07-30 15:16] Rias500 commented on #25
This should work with just the criteria, as Scout checks if the query returns anything before sending it to Algolia.

I have a site running with pretty much the same config and 2 separate indexes for multilanguage

[2018-07-30 15:17] JorgeAnzola commented on #25
Okok, I imaged. I actually deleted my comment saying "Nevermind it works with the Criteria. Cause I was not sure. I'll give it a try.

[2018-07-30 15:18] Rias500 commented on #15
So I've tested this again, and adding filters to your criteria will cause Scout to deindex when the element cannot be found with the criteria.

See https://github.com/Rias500/craft-scout/issues/18

[2018-07-30 15:18] #15 closed

[2018-07-30 15:21] Rias500 commented on #20
I've updated the descriptions, but since it's such a small change I'm not yet tagging a release for it.

[2018-07-30 15:21] #20 closed

[2018-07-31 15:41] JorgeAnzola opened #26 "Consider refresh command."
[code]

[2018-07-31 15:46] Rias500 commented on #26
Good idea! I'll try and add this soon, or you could always create a PR which will make it a bit faster :)

[2018-07-31 15:47] JorgeAnzola commented on #26
Yes, sure, I'll do it!

[2018-08-03 10:38] JorgeAnzola commented on #25
@Rias500 I cannot get this to work:

Do you see something wrong?

[code]

[2018-08-03 10:40] Rias500 commented on #25
Are you sure you're using the site `handle` and not the language by any chance?

[2018-08-03 10:43] JorgeAnzola commented on #25
Yes, I'm sure. As a test, I changed `en_us` to `en_us2`, getting this error:

[code]

It will only save the secondary site version of the entry. (I'm using 0.4.1, without the ID change, as maybe there's a bug on the change I requested)

[2018-08-03 10:45] Rias500 commented on #25
Okay, I'll need to take a better look at it then. I'll try to find a solution this weekend

[2018-08-03 10:45] JorgeAnzola commented on #25
Thanks! I'll also try to find something.

[2018-08-03 10:55] JorgeAnzola commented on #25
And about the site id in the objectId: This changes fixes my problem with the multi site, but then during the deindexation causes issues like: deindexing from just one index.

[2018-08-13 09:59] Lennso opened #28 "Assets Transform?"
Hi,

i use your great plugin but i'm not familiar with php. I want to add a data field to my mapping so that i can get the img url. i think i have to combine two criteria models or? Can you please give me a hint?

`"mappings" => [
				[
						'indexName' => 'xyz',
						'elementType' => \craft\elements\Entry::class,
						'criteria' => [
								'section' => 'xyz'
						],
						'transformer' => f

[2018-09-19 06:37] larsboldt opened #29 "Disabling an entry does not remove it from index"
An entry already in the index does not seem to be removed if you disable the entry.

Running Scout 0.4.2 on Craft 3.0.24

[2018-09-19 06:57] Rias500 commented on #29
Hi @larsboldt, please see this issue https://github.com/Rias500/craft-scout/issues/18

[2018-09-19 06:57] #29 closed

[2018-10-02 21:04] mark-chief commented on #18
Hi, Sorry, I didn't actually get this to work in the end.

My criteria looks like this:

[code]
If I create an entry, Algolia syncs and I can see it in the Algolia Dashboard. if I delete the entry it remains in the Algolia dashboard and status remains live. thanks for your hard work.

[2018-10-03 04:17] strategyagency opened #30 "Unknown command: scout/index/import"
I've installed via the plugin section in Craft, set up the config file, but can't run the import command. I get:

`Unknown command: scout/index/import`

[2018-10-04 00:47] strategyagency commented on #30
I needed to run `./craft migrate/all`

[2018-10-04 00:47] #30 closed

[2018-10-04 01:18] strategyagency opened #31 "'Setting unknown property: craft\elements\db\EntryQuery::0' when Importing"
I've simplified my scout.php as much as possible:

[code]

But when running `./craft scout/index/import` I get an error:

[code]

[2018-10-04 01:43] strategyagency commented on #31
Improper formatting around criteria

[code]

should be

[code]

[2018-10-04 01:43] #31 closed

[2018-10-05 13:09] nlussier-globalia commented on #25
Same problem here : English element is indexed with only the objectId in my French index and vice-versa.

[2018-10-07 10:08] Rias500 commented on #26
Added in 1.0.0!

[2018-10-07 10:08] #26 closed

[2018-10-07 10:08] Rias500 commented on #25
This should finally be fixed in 1.0.0, sorry for the long wait!

[2018-10-07 10:08] #25 closed

[2018-10-07 10:09] Rias500 commented on #18
There was an issue with de-indexing of elements, this should now be fixed in 1.0.0!

[2018-10-07 10:09] #18 closed

[2018-10-07 10:12] Rias500 commented on #28
If you use a transformer, you can add the image field and the crops you want:

[code]

[2018-10-07 10:12] #28 closed

[2018-10-09 15:36] JamesNuttall opened #33 "De-indexing not working from entries index page."
It seems deleting an entry from the entries index page, like below, does not de-index the entry:

![screen shot 2018-10-09 at 16 33 37](https://user-images.githubusercontent.com/22011451/46680534-36aa2300-cbe1-11e8-9387-b924dad85bc6.png)

[2018-10-22 10:04] larsboldt opened #34 "Several issues"
I am curious about the solution for multisite. We recently ran into this issue as well where entry of the second language would overwrite the entry of the first language in our algolia index.

As far as I can see this was solve by adding site id to objectID as well as adding some checks in canIndexElement.

1) Why does it work when running the index commands in CLI, but not when editing an entry i

[2018-10-22 10:10] larsboldt opened #35 "Several issues - some after v1.0.0"
I am curious about the solution for multisite. We recently ran into this issue as well where entry of the second language would overwrite the entry of the first language in our algolia index.

As far as I can see this was solve by adding site id to objectID as well as adding some checks in canIndexElement.

1) Why does it work when running the scount/index/* commands in CLI, but not when editing a

[2018-10-22 10:37] larsboldt commented on #34
Duplicate because of github issues.

[2018-10-22 10:37] #34 closed

[2018-10-23 08:30] Rias500 commented on #35
1. Don't really fully understand the question here, but I specifically added the checks in canIndexElement function because entries were not being deleted if they didn't meet the criteria.

2. This was added because when saving an entry in a Craft multisite install, the object would be overwritten in the index because the ObjectIDs weren't unique

3. Could you add a seperate issue for this? This s

[2018-10-28 21:12] chrislam opened #36 "Deleting a category still calls `deIndexElements()`"
Seems that the event hook for `Category::EVENT_BEFORE_DELETE` calls the old `deIndexElements` rather than the new `indexElements` method.

I intend to submit a PR which replaces the `deIndexElements` call with `indexElements`.

Stack trace:
[code]

[2018-10-29 09:34] mark-chief opened #40 "New Entries not being added/updated"
This _may_ of happened when I updated to the latest version.

It looks like when i am creating a new entry it adds it to Agolia, but then removes it. E.g, I created the entry in the `websitePages` section and its ID is `1895`, see below logs where it appears to add, remove, add and then remove it.

Here is my queue.log:
[code]
Here is my scout config:

[code]

[2018-10-29 12:52] larsboldt commented on #35
@Rias500 While working on a fix for splitElementIndex regarding the added siteId to elementId I tried to delete an entry. Instead of the entry getting deindexed it gets indexed again, as far as my debugging goes it seems that `return $this->getElementQuery($element)->count();` returns 1, the entry being deleted gets returned by the getElementQuery and thus it tries to index the same entry getting

[2018-11-12 13:44] Moorst opened #42 "Run commands from CMS"
I've disabled sync and set up cron jobs to run every morning to prevent too many operations running and using up all the quota. It would be useful for permitted CMS users to have a button to refresh the index manually, e.g. if they push a new event that they want to be immediately searchable on the day.

Is this something that's in the pipeline?

[2018-11-23 08:50] Rias500 commented on #42
Not currently, will gladly accept a PR for it though. I tend to not add features that I don't need myself.

[2018-11-26 20:00] marksimons commented on #40
Appreciate any help on this if it is being supported still? Thanks

[2018-11-26 20:44] Rias500 commented on #40
Hi @marksimons, yes it’s still being supported, though work has been very busy lately so I don’t have the time to work on fixes at the moment. That’s why this package is free, MIT licensesed and comes without support.

If you find the issue in the meantime and are able to fix it yourself, I’d appreciate a PR, if not I’ll get to this issue when I find the time.

[2018-11-26 20:46] mark-chief commented on #40
Ok. Appreciate that.

Is there any way I can downgrade the version to the previous as it worked then?

[2018-11-26 20:48] Rias500 commented on #40
You can request a different version by changing it in `composer.json` and running `composer update`

[2018-12-03 09:58] Rias500 commented on #40
@mark-chief I can't seem to reproduce this, are you adding both mappings to the same index? Or are they different indices? Because in your config it says `removedfordemo` on both

[2018-12-03 09:59] Rias500 commented on #33
Cannot reproduce this anymore, can you check if this is still the case in the latest version? If it is you can re-open this issue.

[2018-12-03 09:59] #33 closed

[2018-12-03 10:04] Rias500 commented on #35
@larsboldt Thanks for all the PRs on fixing these issues, really appreciate it.

[2018-12-03 10:04] #35 closed

[2018-12-03 10:05] marksimons commented on #40
@Rias500 Hi, they are being added to the same Index, sorry that wasn't very clear in my example!

[2018-12-03 10:06] mark-chief commented on #40
@Rias500  Hi, they are being added to the same Index, sorry that wasn't very clear in my example!

[2018-12-03 10:17] Rias500 commented on #40
So I've copied your mappings into my own project, and added the fields to have an example and they're both added to the index:

![image](https://user-images.githubusercontent.com/3626559/49367328-10d66180-f6ec-11e8-921a-28d4ca5ebf2a.png)

I've also tried it with multiple types and that works fine as well.

Could you update to 1.0.2 and try again? There have been a few fixes in the meantime that mi

[2018-12-12 13:44] Rias500 commented on #40
Closing this for now, you can always reopen if this issue still persists and you have more information.

[2018-12-12 13:44] #40 closed

[2018-12-20 20:33] onebrightlight opened #47 "Setting attrributesForFaceting doesn’t impact indexes when created"
I have an index where I am attempting to set several of my attributes as facets per the [README.md](https://github.com/Rias500/craft-scout#indexsettings). My index posts just fine, but the facets aren't set. No errors are kicked back, either.

[code]

[2018-12-24 16:35] JMDevelopers opened #48 "Unknown command: scout/index/import"
Has the import command changed or am i missing something? Seems not be able to find the command

[2019-01-02 12:19] dbrookes commented on #48
Same issue for me, after upgrading to 1.1.0 none of the scout console commands are available anymore. Downgrading back to 1.0.2 brings them back.

[2019-01-08 23:49] philipzaengle commented on #48
This seems to be an OS specific problem, running the command in an OSX terminal fails, additionally running `./craft` returns only native Craft commands.

When running one of these commands in ubuntu everything works as expected. YMMV

[2019-01-09 00:40] philipzaengle commented on #48
I've submitted a PR #49 which corrects this issue.

[2019-01-09 20:12] philipzaengle commented on #47
@onebrightlight I tried to replicate this issue but we unable to.

[2019-01-10 18:38] jasonschock opened #50 "Algolia index is not updated on new content or content changes"
I currently have a single Scout mapping that dumps a large amount of content for populating the Algolia index.  I also have `'sync' => true` is set in the Scount config, but nothing seems to be syncing for either 1) adding new entries content, nor 2) content updates.

Running `./craft scout/index/refresh articles_index` works as expected, but in order for the search index to be updated, I have to

[2019-01-30 02:16] chrislam opened #52 "Disabling an entry does not deindex it"
This bug seems to be back, I believe this is due to the checks in `canDeindexElement()` specifically, it returns the same final response as `canIndexElement()`, a call to `getElementQuery()` which returns false for a disabled entry. I think it should just return true?

[2019-02-13 09:29] Rias500 commented on #52
Should be fixed with your PR in 1.1.2!

[2019-02-13 09:29] #52 closed

[2019-02-13 09:29] #48 closed

[2019-02-13 09:30] Rias500 commented on #47
If you want to update the settings in Algolia you need to run `./craft scout/settings/update`, it doesn't happen automatically

[2019-02-13 09:30] #47 closed

[2019-02-18 15:17] timkelty opened #54 "scout/index/import only works for default site"
With multiple sites, when you run `scout/index/import`, it will only index as the default site.

On the other hand – when you save an entry, it will index the element for every site that element is enabled in.

Seems like the behavior should be consistent.

NOTE: this only applies if your criteria does not specify `site`/`siteId` explicitly. Unfortunately, those params cannot (yet) accept arrays o

[2019-02-19 10:46] JonnyTurnerUK opened #55 "Deleted items not being removed since update"
Hey @Rias500 - we updated your plugin (thanks!) the other day and we've noticed that deleted entries are not being removed from Algolia so our entry count and Algolia count is off. Any chance you can help sort? We use FeedMe to import stock and has been working perfectly in hand with Scout.

[2019-02-19 15:37] johnj24 commented on #55
We too have noticed that disabled entries are being left in the Algolia index. I imagine these are similar issues.

[2019-02-25 14:54] u12206050 opened #57 "Entry removed on update"
I have sync enabled in config, but whenever I update an entry it is removed from Algolia.
From the queue status in the side bar I see it tries to do the following:

* Removes the entry
* Adds the entry
* Removes the entry

See the attached image.

<img width="420" alt="skjermbilde 2019-02-25 kl 15 52 16" src="https://user-images.githubusercontent.com/6641242/53345564-80d43c80-3915-11e9-8c49-8c1b23

[2019-02-27 09:20] Rias500 commented on #57
Could you post the criteria you are using and your index settings?

[2019-02-27 09:21] Rias500 commented on #55
Indeed a regression caused by a change in the previous release, should be fixed in 1.1.3

[2019-02-27 09:21] #55 closed

[2019-02-27 09:22] JonnyTurnerUK commented on #55
Awesome, thanks @Rias500

[2019-03-20 18:47] jasonschock commented on #57
I'm having this issue, as well. Not sure if it's a bug or unexpected behavior.

I have multiple mappings in my Scout config for the *same* index, which is a nice way to break up indexing for different types of content by section.

`scout.php`:

[code]

Assuming the above config, when I save a **blog** entry, I see two operations in Algolia:
* A POST with the updated entry data (expected)
* A DELET

[2019-03-21 08:43] Rias500 commented on #57
@jasonschock You can only have one mapping for each index, a way you could solve this is by changing your criteria to just pull the entries from both sections, this is what your config would look like:

[code]

[2019-03-21 08:44] Rias500 commented on #57
Supporting multiple mappings for the same index would require too big of a rewrite and everything you need to do if you want to have multiple sections in the same index can be done in your transformer. Just make sure the `criteria` allow for it.

[2019-03-21 12:29] jasonschock commented on #57
Thanks @Rias500, that's how I ended up solving it. FWIW, I think being able to break up the index is a bit more elegant and intuitive, but maybe not everyone has this need.

[2019-03-22 15:10] #57 closed

[2019-04-04 14:46] lenvanessen opened #58 "Allow import in batches"
I have 5000 entry, currently it hits the memory limit and doesn't import all of them. Would be nice to have a feature to chuck them or another way around hitting the memory limit when having more posts!

[2019-04-10 08:30] jamesmacwhite opened #59 "Algolia Application ID and Admin API key as twig variables"
Hi @Rias500,

Thanks for this plugin. I am currently looking at migrating a previous Algolia search mapping setup from Search Plus using your plugin. One thing that would be nice is to have Algolia admin API key and application ID exposed as twig variables so they output in Twig templates when building the front end search i.e.

[code]

Would this be something you be happy to have added to your pl

[2019-04-10 08:39] Rias500 commented on #59
Great idea! I’ll work on it when I find some time, otherwise I’ll gladly accept a PR

[2019-04-10 11:55] #59 closed

[2019-04-17 18:50] jaredloson opened #64 "Scout only sending DELETE operations"
I've been unable to get Scout to send any POST requests for entries. Any time I create or update an entry, I see a DELETE request made. I'm also seeing requests made for entries that are not in the `article` section. Based on the following config, I expected only article entries to be synced with Algolia.

This is my current, simplified config:
[code]

I initially set up a more complex config, and

[2019-04-18 20:49] jaredloson commented on #64
Closing this, issue was a typo. Sorry folks!

[2019-04-18 20:49] #64 closed

[2019-04-30 08:29] fantasticmachine opened #65 "Does this work with Commerce products/variants?"
Hi

Can you tell me if the plugin will work with Commerce products and variants?

[2019-04-30 08:31] Rias500 commented on #65
Scout listens to any `Element` that gets updated, as Commerce products and variants extends this, it should pick up the necessary events.

Make sure to use the correct ElementType in your config and it should work, though I have not tested it myself.

[2019-04-30 08:32] fantasticmachine commented on #65
Excellent, thank you.
I’ll give it a go and report back.

[2019-04-30 16:03] fantasticmachine commented on #65
Hi
Yep works great!
I'm actually indexing variants with some data pertaining to the parent product.

But I do have another problem which I'll raise in another issue

[2019-04-30 16:03] #65 closed

[2019-04-30 16:07] fantasticmachine opened #66 "Can't install with trendyminds/algolia"
During development I have had Scout installed alongside another plugin (trendyminds/algolia) which was handling the actual search on my site.

But now I'm trying to install the same plugins elsewhere and finding that I can't have both Scout and Alogolia installed together. There seems to be a conflict between the versions of algolia/algoliasearch-client-php

Scout requires 1.28.0 but Algoila requi

[2019-04-30 16:10] Rias500 commented on #66
I'd have to change the version constraint and test everything with the new Algolia major version. I'm guessing some APIs have changed or have been deprecated.

I'll try to find some time in the coming week to update this. If this has any breaking changes it'll require a major release of craft-scout as well.

[2019-04-30 17:33] fantasticmachine commented on #66
Understood. Is there any way I can get around it temporarily?

Sent from my iPhone

[2019-05-01 10:30] Rias500 commented on #66
Should be fixed in 1.2.0, not a lot of changes were necessary

[2019-05-01 10:30] #66 closed

[2019-05-01 10:31] Rias500 commented on #58
A solution when running in console can be to add the following `php -d memory_limit=512M craft scout/index/import`

[2019-05-02 07:29] jamesmacwhite opened #68 "1.2 release not available on Packagist"
Hi @Rias500. Just to let you know that the recent 1.2 release isn't available to install through composer. Looks like packagist has not been updated yet. The update is detected through Craft plugin store, but composer can't see it.

Thanks!

[2019-05-02 07:31] Rias500 commented on #68
I've updated it manually on Packagist, hsould be available now!

[2019-05-02 07:31] #68 closed

[2019-05-02 07:54] jamesmacwhite commented on #68
Many thanks!

[2019-05-04 05:11] furioursus opened #69 "Combining two different elements into one index"
Odd question, but we have all of our sections in one large index, but our Solspace Calendar events are a different element type. Since I can't add to an index more than once apparently, what are my options, if any for merging `craft\elements\Entry` and `Solspace\Calendar\Elements\Event` into one index?

[2019-05-17 07:09] riasvdv commented on #69
I haven't tested this, but I think you could use `craft\base\Element` as the element type, you'll have to experiment a bit with the criteria then to get everything in there.

With the new feature in 1.2.1 you can also just do your checks in the transformer and if you don't want to index them return an empty array.

[2019-05-27 17:07] onebrightlight commented on #69
Okay, I'll give it a look and see if anything can come of it!

[2019-05-29 15:02] anvart commented on #50
I just stumbled upon the same problem on my local machine. I saw error messages in the admin panel and went to check logs (`storage/logs/queue.log`) and found out that cURL experienced troubles with SSL. On the live server everything works as expected.

[2019-06-10 16:04] JonnyBR12 opened #74 "Possible to sync two APIs?"
Hey! I have two Algolia APIs that I'd like to sync content to. Is this something that you've done before? Reason being is that it's two accounts of products into one website. The search functions are completely separate but need to forward two different channels to two different Algolia APIs.

Any help would be awesome!

[2019-06-14 11:52] riasvdv commented on #74
This is currently not possible, I'd imagine we'd need the ability to override the keys at the mapping level, but it's not something I need.

I'd accept a PR that implements this though!

[2019-06-14 11:52] #74 closed

[2019-06-26 15:22] mdunbavan opened #77 "Why am I hitting limit on import command?"
Hi,

I am running the latest version of Craft 3 and Commerce 2. I am trying to import via CLI products from the backend. I get too a point where I can index 260 but that is it. I have ran this command:

`php -d memory_limit=512M ./craft scout/index/import`

But this still only reaches 260 and I know there are more like 890 products in total. Please can you check what that might be? Here is my code

[2019-07-10 07:33] riasvdv commented on #77
I can't know the exact cause as to why you are hitting the memory limit, it seems like a lot is happening in your transformer. Batching on import would probably solve this.

Though Scout doesn't currently have batching for the import, see #58, I'll gladly accept a PR that implements this.

[2019-07-10 07:33] #77 closed

[2019-07-10 07:35] riasvdv commented on #54
Should be able to implement a parameter for the import command that takes a `siteId`. If no parameter is passed it should do every site, the same way it happens on save

[2019-07-10 07:37] riasvdv commented on #50
@jasonschock if you are still experiencing this issue, please reopen. Haven't been able to keep up in the last few weeks.

As @anvart suggests, checking the logs will almost always reveal the issue. If it's with cURL on localhost there's not really something I can do about it as the underlying Algolia API uses it.

[2019-07-10 07:37] #50 closed

[2019-07-10 12:27] timkelty commented on #54
@riasvdv now that `site`/`siteId` can accept `*` (https://github.com/craftcms/cms/issues/2854), this is less of an annoyance.

However, it may make sense to _default_ `site` to `*`. That way if `site` or `siteId` is explicitly passed, it should take those values, otherwise it will work on all sites.

[2019-07-16 19:07] philbarbato opened #78 "CLI import throws exception when mapped field does not have a getIdPost method"
Import is failing if a mapped field does not have a `getIsPost` method. In this instance, we're using [Easy Address Field](https://github.com/studioespresso/craft3-easyaddressfield), which does not have that method.

Config file: [scout.php.zip](https://github.com/riasvdv/craft-scout/files/3398711/scout.php.zip)

Error and stack trace below:

[code]

[2019-07-31 15:01] martyspain opened #79 "Updating from 1.2.1 to 1.3.0 throws error"
I'm trying to update Scout from 1.2.1 to 1.3.0 and I get the following error when I run `craft update scout` in the console:

[code]

I've tried updating from 1.2.1 -> 1.2.2, 1.2.1 -> 1.2.3 and 1.2.1 -> 1.3.0 and every time I get this error. I'm not sure how to proceed, so any help is gratefully received!

[2019-08-01 08:30] martyspain commented on #79
Discovered this is caused by the Element API plugin, which has a dependency on fractal ^0.16.0 and won't allow 0.18.0 to be installed. https://github.com/craftcms/element-api/issues/109

[2019-08-01 08:30] #79 closed

[2019-08-01 14:31] davebeesley opened #80 "How do I define `searchableAttributes`?"
Is it possible to define `searchableAttributes` via the plugin on save?

I have tried defining them in the `indexSettings` and `settings` arrays - but they don't seem to end up defined on my index

[code]

[2019-08-08 18:44] smaida opened #81 "Bug when skipping elements when splitElementIndex is also set."
We're returning an empty array as noted in the docs. In cases where we do this and we also have splitElementIndex the following error occurs.

`PHP Notice 'yii\base\ErrorException' with message 'Undefined index: body'
in vendor/rias/craft-scout/src/models/AlgoliaIndex.php:219`

[2019-08-09 07:17] riasvdv commented on #80
As shown here https://github.com/riasvdv/craft-scout#indexsettings you'll need to run the update command any time you change your index settings.

[2019-08-09 07:17] #80 closed

[2019-08-09 07:20] riasvdv commented on #78
I think the issue is not in the Scout plugin, as the last thing Scout does is just calling this line

I think the craft-easyaddressfield is trying to call `->getIsPost()` on the request, but because it is a console request this doesn't have this method.

@janhenckens This should be changed here https://github.com/studioespresso/craft3-easyaddressfield/blob/develop/src/services/FieldService.php#L81

[2019-08-09 07:20] #78 closed

[2019-08-09 07:21] riasvdv commented on #81
Fixed in 1.3.1!

[2019-08-09 07:21] #81 closed

[2019-08-12 02:08] smaida commented on #54
@riasvdv Thoughts on implementing this? It looks like a modification to canIndexElement and canDeindexElement in AlgoliaIndex.php would allow multiple sites to push to a single index. Also, while looking at this, is it accurate that canDeindexElement only supports siteId and not site?

[code]

[2019-08-13 14:00] dfrankes opened #82 "Items for multisite not being removed"
We currently have a website up and running with 2 sites (for 2 different countries), When i create a new entry, for an example a page, it will create 2 items in Algolia (both with a different siteId) But when i remove the item, only the item with siteId 1 will be removed (in Algolia), not the other one. (If i change the storeView to the second domain, it will remove only the item for the  selected

[2019-08-20 15:28] mdunbavan opened #83 "Index throwing error on craft\elements\db\CategoryQuery"
I have been trying to index to algolia and I ran across the issue below.

[code]

I am running stable craft 3 and commerce 2. Below is my scout config file:

[code]

[2019-08-28 13:07] riasvdv commented on #54
The whole site / siteId implementation has gone through a lot of changes trying to get the indexing "correct" with multiple sites & locales, to be really honest I have no idea what the correct solution would be.

Certainly not right now with Craft 3.2 and 3.3

People are also using Scout with way bigger indexes and mappings than I have foreseen, and it's getting a bit overwhelming with all the dif

[2019-08-28 13:09] riasvdv commented on #54
That said, I'm thinking of creating a big breaking release, that rethinks some concepts of Scout and its configuration to make it all more in line with what you'd expect to happen when you configure it in certain ways, but I can't promise any ETA

[2019-08-28 14:10] aaronbushnell opened #84 "Allow for eager loading in the `criteria` section of a map"
Really great work on this plugin!

I can't seem to get eager loading to work when I have my `scout.php` file setup like so:

[code]

Not sure if I'm missing something on my end!

[2019-08-28 14:12] riasvdv commented on #84
You'll need to use `$entry->photo->one()` or `$entry->photo->all()`, just like in your templates, I don't think the criteria support eager loading at this time in Scout

[2019-08-28 15:21] timkelty opened #85 "Indexing/deindexing jobs are awkward with multiple indices/mappings"
From what I gather, here's what currently happens:

When an element is saved, Scout loops through every mapping, and indexes where it can, and de-indexes where it can't.

That means if I have 5 mappings, I end up with jobs like this:

- Indexing element 1_xxx
- Deindexing element 1_xxx
- Deindexing element 1_xxx
- Deindexing element 1_xxx
- Deindexing element 1_xxx

That seems problematic in terms

[2019-08-30 04:01] nicgordon commented on #42
I have opened the PR referenced above to address this issue. Please let me know if you have any feedback.

[2019-09-03 07:44] riasvdv commented on #84
What you get passed in the transformer is actually the Entry that was saved, we don't do any eager loading on it, the criteria is just to check if it matches and it should index.

Eager loading also has no benefit if you're only operating on one element.

[2019-09-03 07:44] #84 closed

[2019-09-03 07:45] riasvdv commented on #85
I'll get this fixed in v2 ;)

[2019-09-03 07:46] riasvdv commented on #83
Your config is a bit unwieldy to get through and figure out where the issue is. Can you reduce it to the minimum required to get the error? Preferably with only 1 index?

[2019-09-03 11:51] aaronbushnell commented on #84
Ah, makes sense! Thanks for the explanation on this

[2019-09-11 09:13] riasvdv commented on #85
Fixed in v2, as every Index (mapping) is now only for 1 site

[2019-09-11 09:13] #85 closed

[2019-09-11 09:13] riasvdv commented on #58
Added in v2 (ready to test) https://github.com/riasvdv/craft-scout/tree/v2

[2019-09-11 09:13] #58 closed

[2019-09-11 09:14] riasvdv commented on #54
In v2, every ScoutIndex (used to be called mapping) is only for 1 siteId, which solves all these issues

[2019-09-11 09:14] #54 closed

[2019-09-11 09:16] riasvdv commented on #42
v2 is ready for testing: https://github.com/riasvdv/craft-scout/tree/v2 which includes a Utility to manage indices

[2019-09-11 09:16] #42 closed

[2019-09-11 09:17] #83 closed

[2019-09-11 09:17] riasvdv commented on #83
Let me know if you're still having issues by reopening

[2019-09-11 09:18] riasvdv commented on #82
v2 should solve this, it's now ready for testing https://github.com/riasvdv/craft-scout/tree/v2 by requiring `dev-v2` in composer.json, please note the configuration has changed

[2019-09-11 09:18] #82 closed

[2019-09-11 12:15] smaida commented on #54
@riasvdv In v2, can we push multiple sites into the same index using multiple ScoutIndex configurations? We do a ton of Algolia work and IMO that I would expect that to be a common need for unified search UIs where we're not providing federated results.

[2019-09-11 12:19] riasvdv commented on #54
The criteria is now just an `ElementQuery` object, so you could set `siteId` to '*' or specific IDs you want, you'll have to handle how you separate the content yourself in your transformer. Scout has no assumptions anymore here.

As for multilingual search, [Algolia suggests](https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/how-to/multilin

[2019-09-11 12:23] timkelty commented on #54
👏

[2019-09-12 15:52] ArtDepartmentMJ opened #92 "Matrix block reset after query"
Not sure if this is an issue with Craft or Scout however...

When pulling content from a matrix in the transform, querying the matrix will return the matrix in its original state.

for example:

Matrix (handle: contentBlocks) with one block (handle: text) containing plain text field

Initial saved entry with two (contentBlocks) blocks of type text

When adding a new block of type text, saving and

[2019-09-13 07:18] riasvdv commented on #92
I've released 2.0.0! https://github.com/riasvdv/craft-scout/releases/tag/2.0.0 let me know how the upgrade goes

[2019-09-13 07:18] #92 closed

[2019-09-13 09:11] ArtDepartmentMJ opened #95 "Multi-site handling"
Great work on v2 @riasvdv

I've been playing around with muti-sites and even though you refer to them in your code comments, I'm wondering of it might be an idea to include an example in the readme!?

Here's my solution that means you don't have to create a specific index each time a new site is added:

config/scout.php
[code]

[2019-09-13 09:14] riasvdv commented on #95
That's a nice way to handle multiple sites, I'll leave it open here for now as I don't want to overcrowd the README too much, if we have more of these I could split them to a different markdown file

[2019-09-14 13:10] pixelbeatcreative opened #96 "Creating Hierarchical Menu"
In order for Algolia to be able to create a hierarchal Menu, is states that the json should look like below

`"categories.lvl0": ["products", "goods"],`
`"categories.lvl1": ["products > fruits", "goods > to eat"]`

I'm new to php and I was able to render any one category level but I don't know how to render the first and second level categories with the `>` in between them.  Can someone please hel

[2019-09-16 07:33] riasvdv commented on #96
I suggest asking on the [Craft Discord](https://craftcms.com/discord) or the [Craft Stackexchange](https://craftcms.stackexchange.com) on how to create this structure in PHP, it's not really related to Scout other than that it ends up in Algolia, the structure is just PHP.

When you find out how to do it, you can always link the solution here for other people!

[2019-09-16 07:35] riasvdv opened #97 "Document how to to multiple sites in 1 index"
- Use `->site('*')` in criteria
- Make sure to return unique `objectID` from transformer
- Add an example

[2019-09-16 11:41] mustasj commented on #97
I just started making indices for this!
Can i do this now or dot you have to do some code changes?

[2019-09-16 12:43] riasvdv commented on #97
Should all be possible, just not documented everything yet!

[2019-09-16 14:38] timkelty opened #98 "Elements not indexed when using array or * for site/siteId"

[2019-09-16 14:46] pixelbeatcreative commented on #96
I already asked on Discord before bring it here. I understand it may be related to php but it is needed for your plugin to function and I'm sure there will be others who may have this same issue as there's absolutely no reference or guidance on this in your docs. Wouldn't it be fair to leave this open for a while because maybe someone else will be able to help out?

[2019-09-16 14:48] mustasj commented on #97
Doesn't seem to work. if i use `->site('*')` it still only indexes the default site.
But saw a new issue came in now: #98

[2019-09-16 14:49] riasvdv commented on #97
Yeah, it will be fixed when #99 is merged, a little oversight I had when rewriting

[2019-09-17 07:51] #98 closed

[2019-09-17 11:21] mustasj opened #101 "Console commands get PHP Fatal Error"
I'm using the latest version (2.0.1) and tried to run `./craft scout/index/refresh varianter` but i get:

[code]

my php has memory_limit set to 512M so it is within the requirement for Craft. I have tried bumping it to 2048, still the same.

I'm trying to get Commerce Variants, and with a batch size of 2
[code]
the query is maybe to generic?

Dont know if this is related to the plugin or my envir

[2019-09-17 11:49] mustasj commented on #101
My mistake, had to add eager loading to the query for relationship.

[code]

[2019-09-17 12:06] riasvdv commented on #101
Can I see your what you're using as the transformer?

[2019-09-17 12:13] mustasj commented on #101
It all works if i dont use the relationship for the two categories, but i have to use them. So if i am able to use `with()` to eager loading i think i'm good, but i dont know how.

[2019-09-17 12:55] pixelbeatcreative commented on #96
I was able to find the answer and got it working. It can be found [here on stackexchange](https://craftcms.stackexchange.com/questions/30441/how-do-i-iterate-over-a-categories-field-in-an-entry) and the answer was provided by Fred Carlsen. I pasted the snippet below as well for anyone who may need it.

`<?php
return [
    'transformer' => function(craft\base\Element $entry) {
        $level1Catego

[2019-09-17 12:58] riasvdv commented on #101
So without eager loading, this:
[code]
Would become this
[code]

Can you try that? I think you're putting in the full query accidentally otherwise, same for the `variant->product->produsent`

[2019-09-17 13:24] mustasj commented on #101
Still the same, if i remove both of them the indexing is fast.
Should this work?
[code]
then i get:
[code]
the commerce_variants should have `tablePrefix`?

[2019-09-17 19:41] mustasj opened #102 "Example on splitElementsOn"
Could you implement the `->splitElementsOn()` in the **Example Index Configuration**
Didn't understand how to use it...

[2019-09-18 08:54] riasvdv commented on #96
Thanks for your research!

[2019-09-18 08:54] #96 closed

[2019-09-18 09:35] riasvdv commented on #102
You should only use this when you need it, when your documents are getting too large for Algolia, I've added an extra line to the README.md where it states you have to return an array for the keys you define in ->splitElementsOn

https://github.com/riasvdv/craft-scout#-splitelementsonarray-keys

[2019-09-18 09:35] #102 closed

[2019-09-18 11:51] mustasj commented on #102
Some of the content is too large already.
So like this?:
[code]

[2019-09-18 11:53] riasvdv commented on #102
Yes, something like that, but you can't straight up get the elements like this `$entry->content->all()` because you're getting objects back, you need to turn them into arrays yourself with an `array_map`.

[2019-09-18 12:35] mustasj commented on #101
Got this figured :man_facepalming: :
[code]

[2019-09-18 12:35] #101 closed

[2019-09-18 12:35] riasvdv commented on #101
Great to hear! 🎉

[2019-09-18 13:03] mustasj commented on #102
Yeah i know, just an example of much content 😄
I'll see what to do, since it is only a few entries that are too large.
Is there anyway to do this dynamicly?
maybe add a new return element like 'large_content' and `->splitElementsOn( ['large_content'] )` ?

[2019-09-18 22:14] Slgoetz opened #104 "Upload asset error"
After updating Craft-Scout we tried to upload an image an received the error of
```Upload failed. The error message was: “Return value of rias\scout\behaviors\SearchableBehavior::getRelatedElements() must be an instance of Tightenco\Collect\Support\Collection, instance of Illuminate\Support\Collection returned”```

Can provide more details - just let me know what is needed.

[2019-09-19 07:05] #104 closed

[2019-09-19 07:05] riasvdv commented on #104
Fixed in 2.0.2!

[2019-09-27 08:01] Lennso opened #107 "No Errors, no recors in index"
I am using Craft in local setup with mamp. At first everything worked fine and my entries were pushed to algolia index. but since a few days nothing happens. i tried everything (reading logs, looking for api errors, changing the section, disable fields) but i cant get it to work :-(

if i save an entry there is no error.

my scout.php
`<?php

return [
	'sync' => true,
	'connect_timeout' => 1,
	'ap

[2019-09-27 08:02] riasvdv commented on #107
You’re still using the v1 configuration, please make sure to update Scout to v2 and follow the new configuration, that should solve your issues

[2019-09-27 10:13] Lennso commented on #107
You saved my weekend! My fault, sorry!!

[2019-09-27 10:13] #107 closed

[2019-10-01 03:43] besimhu commented on #69
I am a bit late to this. There was a way to map different elementTypes to the same index. You would just map to the same index name. It worked for me.

I recently started upgrading to the new version and have noticed that my unintended feature actually does not work in v2.

@riasvdv there is no way one could use the same index name, but use two different element types? Say one for categories and a

[2019-10-01 06:26] riasvdv commented on #69
You should be able to set `craft\base\Element` as the ElementType, you'll then get an `ElementQuery` in your criteria on which you can set some extra constraints, then in your transformer you should receive a `craft\base\Element` object, where you can check which element you got back and how to transform it.

I haven't tested any of this yet, but I don't see a reason why it couldn't work

[2019-10-02 12:40] icreatestuff opened #108 "How to setup scout.php config for multi-environment?"
I'd like to apply different config settings based on the environment (local/development, staging, production etc). Simple things initially like turning off syncing entirely in the development environment.

I thought something like this might work
[code]

and then have  `SCOUT_SYNC=false` in my .env file but I don't think that's working?

Is there a way to achieve this?
Thanks

[2019-10-03 00:21] besimhu commented on #69
@riasvdv thank you for the reply.

I saw your comment earlier on about using `craft\base\Element` but unfortunately that doesn't make a whole lot of sense to me.

Do you have any resources you could share? Not resources to Craft, but how to write it inside of the index configuration? I am not familiar with the `->` writing where you chain functions.

[2019-10-03 00:26] besimhu commented on #108
I would like to know if this is possible too. Especially being able to use a different index name if I am on dev vs live for example.

[2019-10-08 14:32] mustasj opened #109 "Generate image/thumb, in cli mode don't work"
I have problem with the batch processing, or cli method. When i save the entry one at the time it generates a thumb, but in batch mode it is always `null`.

This is the code for it:
[code]
I have added a failsafe of an image for some reason is not found.

I have also added settings for Imager and generateTransform at the top of the transformer, so they generate on request:
[code]
and this is the q

[2019-10-10 07:10] riasvdv commented on #109
When you save the entry, the image is probably eager loaded into your entry, when it's batched, it isn't, so you want to do the following:

[code]

That should work

[2019-10-10 07:22] riasvdv commented on #108
You'll want to use `getenv('SCOUT_SYNC') === 'true'`, because `getenv()` always returns a string for some reason

[2019-10-10 07:22] #108 closed

[2019-10-11 17:28] accalton commented on #69
@riasvdv I just wanted to let you know that I tested using the `craft\base\Element` class, however it's an abstract class and therefore fails when the transformer tries to instantiate it.

[2019-10-15 08:56] mark-chief commented on #102
@mustasj did you manage to do this in the end?

@riasvdv Would also like to see an example of an `array_map`, would be super grateful!
My matrix block textField has a ton of text which is too large for a record already. Thanks and much love for this plugin!

[2019-10-16 11:18] simonrabjohns opened #110 "configure replica index settings"
I have generated a replica index by defining the index settings in the Scout config. Is it possible to configure the replica index to add a custom ranking using the Scout config? or does this currently have to be done via the Algolia dashboard?

[2019-10-16 13:41] riasvdv commented on #69
Didn't realise you couldn't start a query from the base Element class, I'll reopen this, but I don't know if I'll be able to find a solution for this.

[2019-10-16 14:15] riasvdv commented on #69
As a (temporary) solution, Algolia does allow searching multipe indices at the same time: https://www.algolia.com/doc/api-reference/api-methods/multiple-queries/

[2019-10-18 03:31] whoisjuan opened #111 "Configuring Multiple Indices Fail at validateConfig()"
I upgraded to 2.0 but I'm having trouble migrating my configuration. At validateConfig() it's failing the uniqueness test because `$indices->unique('indexName')->count()` returns 1.

This is what I'm trying to as my config:

[code]

How I'm supposed to pass multiple indices if it's not through an array of indices? Did this change too? I tried by doing this `indexName => \rias\scout\ScoutIndex::cre

[2019-10-18 03:56] whoisjuan commented on #111
Nevermind. I fixed this. For anyone seeing this and wondering, `\rias\scout\ScoutIndex::create()` is an object constructor so there's no need to wrap the indices definitions inside arrays since the object itself would become a traversable element within the outer index.

[2019-10-18 03:56] #111 closed

[2019-10-25 10:28] simonrabjohns commented on #110
If anyone else has the same question... You can achieve this by defining the required settings for the replica index in the scout indices config and just provide the required settings which will then get applied to the replica index which is generated from the primary index.

[2019-10-25 10:28] #110 closed

[2019-10-25 14:23] mustasj commented on #109
Well it almost worked, i had to add a check to see if php was run in CLI mode, and make two queries, with and without eager loading.
Is it a reason why we cant use eager loading in the batch?

[2019-10-25 14:43] mustasj opened #112 "getRelatedElements fills up the memory"
I have 9 sites in one Craft with a ton of content, users, images, products, variants, matrix block etc.
When i try to save an entry the `getRelatedElements()` just collects so much that the memory cant handle the load.
Should that prosess instead make a job to handles all of this logic? as of now i cant use the plugin because it just chokes the system.

[2019-10-25 14:46] mustasj commented on #102
@mark-chief no i just excluded the content that was over the limit algolia

[2019-10-26 00:35] alexmglover commented on #102
@mark-chief and @mustasj I just figured this out and thought I could possibly help. You will need to split `content` out into an array in order to use splitElementsOn.

I used a variant of this code to split up the content into an array: https://github.com/algolia/scout-extended/blob/2cd4d70bc0addf587a680cb83b7380b8afb16ea4/src/Splitters/HtmlSplitter.php#L69-L86

Let me know if you have any furthe

[2019-10-28 21:44] kevinarrieta opened #113 "Records not synced when post date is scheduled in the future"
Hello, I have some entries which are scheduled to be published in the future, when they get published the records are not synced (also noticed the same with ajax entry updates), so you know if this behavior is supported?

Any hints for a workaround is also appreciated it.

[2019-10-29 07:03] riasvdv commented on #113
Craft does not emit events when an entry is published, so there is no way for Scout to actually sync it at publishing time, what you can do is one of two things:

1. Sync everything by using the criteria, then filter when you query Algolia
2. Use something like https://github.com/sjelfull/craft3-publishedevent to trigger a published event and re-save the entry to have Scout pick it up and sync to

[2019-10-29 21:11] kevinarrieta commented on #113
Thanks for clarifying! Very helpful!

[2019-10-29 21:11] #113 closed

[2019-10-31 14:44] alexmglover commented on #111
@whoisjuan Do you mind clarifying what you did to fix this? I'm bumping up against the same issue here.

[2019-10-31 15:51] riasvdv commented on #69
If you think removing it will have no negative side effects, and you can add some tests that prove multiple index configurations do the expected things, I'd gladly accept a PR that implements this.

[2019-10-31 18:40] whoisjuan commented on #111
@alexmglover Sure. So before you had to pass an array of the configurations. In this version, you don't you simply plug the index object constructor function one after another and that creates an array of objects. So long story short do it like this:

[code]

[2019-11-01 12:00] verbeeksteven commented on #69
It would be nice if you could use CraftCMS manually and pass in an array or something, rather then using elementType, criteria, etc. So something like

    $getDataFromCraftCMSYourself = \craft...

    $indices[] = \rias\scout\ScoutIndex::create('index')->data($getDataFromCraftCMSYourself)->transformer(function ($data) {} );

Or something?

Obviously this would be a high/advanced user not the defa

[2019-11-17 23:17] timkelty opened #114 "No way to set index settings on replicas"
AFAIK, there is no way to currently set index settings on replicas.

I can add an `ScoutIndex` for my replica, and call `indexSettings` on it, and the `scout/settings/update` command works great.

However, if you then try and sync, you'll get an algolia error, because you aren't allowed to push objects to a replica index.

[code]

I even tried putting in a bogus criteria that would never match any

[2019-11-17 23:41] timkelty opened #115 "scout/settings/update fails if an index doesn't have indexSettings"
If you run `scout/settings/update` and every one of your indices doesn't call `indexSettings`, you'll get an error:

[code]

[2019-11-18 08:11] riasvdv commented on #114
I think you're one of the few that's actually using this functionality, so to be honest I'll leave it up to you to decide what you think is the best solution.

I like the idea of a `->replicas` function on the indexSettings, that could encapsulate the logic for updating those nicely as well.

Would love a PR for this, make sure to add a test for it as well then.

[2019-11-18 08:13] riasvdv commented on #115
Seems like I forgot to add a test for this case ;) pretty straightforward fix to just filter the indices

[2019-11-18 11:11] timkelty commented on #114
It shall be done!

[2019-11-18 12:49] timkelty opened #116 "Defer element transform to queue"
Currently, on-save Algolia updates are done in the queue, but the element transformation is still done on save.

This is make things extremely slow (or break entirely) if you have a transformer doing some heavy lifting.

Instead of pushing the transformed element to the queue, we should just pass the id and do the transformation there.

[2019-11-18 12:54] timkelty commented on #116
Weird…looking at the code that shouldn't be what is happening…but with sync=true and queue=true my save comes to a grinding halt…

[2019-11-18 14:57] timkelty commented on #116
Ok so it appears that my actual issue here is the same as this: https://github.com/riasvdv/craft-scout/issues/112

However - it does seem wasteful that the entire class is serialized to the queue (including the private element).

[2019-11-18 15:13] timkelty commented on #116
Unnecessary serialization addressed here: #117

[2019-11-18 15:14] timkelty commented on #112
@mustasj running into the same problem. I believe you're right, we need to offload this to the queue.

[2019-11-18 15:39] #116 closed

[2019-11-19 08:34] #112 closed

[2019-11-20 07:45] riasvdv commented on #114
There was an error in the forwarding to replicas just fixed by @jalendport, but this feature can still be useful for setting distinct settings for each replica

[2019-11-20 12:14] mark-chief opened #120 "Calling unknown method: rias\scout\jobs\MakeSearchable::getelement()"
Hi,

I have updated to Scout v2.1.2 and I am now getting a load of failed tasks. They all show an error of:

`Calling unknown method: rias\scout\jobs\MakeSearchable::getelement()`

Thanks

[2019-11-20 16:16] zizther commented on #120
+1 on this issue.
When saving an entry with Scout 2.1.2 in Craft 3.3.15 it shows this error

[code]

[2019-11-20 20:11] riasvdv commented on #120
Can you post the full stacktrace of the error?

[2019-11-20 21:40] furioursus opened #121 "Updating from control panel occasionally yields error ”Call to a member function update() on null“"
I’m running the latest version of Scout (2.1.2) and Craft (3.3.15). If I submit my indices from the command line, they all process as normal and things seem to work just fine.

However, I find that some of my entries will fail when the authors attempt to update their entry in the control panel with the following stacktrace in `queue.log`:

[code]

In this example, I have disabled literally every f

[2019-11-20 22:00] onebrightlight commented on #121
I’ll also add that if an entry will not save to the index with that error, I can save it as a new entry in Craft and the new entry will push to the index without a problem!

I’m also happy to provide our affected db if you need to troubleshoot at any point.

[2019-11-21 09:42] mustasj commented on #120
I´m getting the same error

[2019-11-21 09:47] #120 closed

[2019-11-21 09:48] riasvdv commented on #120
Fixed in 2.1.3

[2019-11-28 08:45] onebrightlight commented on #121
<img width="848" alt="image" src="https://user-images.githubusercontent.com/366427/69790943-48011680-1178-11ea-95fc-f02a7be9e110.png">

[2019-12-02 15:21] timkelty opened #124 "Methods for leveraging configured search client/indices."
I want to call arbitrary `Algolia\AlgoliaSearch\SearchIndex` methods (e.g. via CLI command), but want to leverage Scout's settings for configuring the client/index.

Related: https://github.com/riasvdv/craft-scout/pull/122

[2019-12-02 15:42] timkelty commented on #124
I just realized that Scout sets a singleton with the configured `SearchClient`, so I can get the client via `Craft::$container->get` and do what I need like so:

[code]

…seems like alot of duplicated effort though. Seems like I should be able to get the `Algolia\AlgoliaSearch\SearchIndex` via the `ScoutIndex` maybe?

[2019-12-03 08:04] riasvdv commented on #124
I'd be happy with a method `getClient` on the engine that resolves it from the container, and then the `__call` method  can use that getClient method instead of `$this->algolia`

[2019-12-04 12:56] timkelty commented on #124
thanks @riasvdv, I'll amend this PR.

[2019-12-06 21:31] santi6291 commented on #114
Curious, is this still in development or has it been released?

[2019-12-08 23:47] timkelty commented on #114
@santi6291 I'm hoping to have a PR in the next week.

[2019-12-10 05:06] engram-design opened #125 "Disabled elements removed from index?"
More of a question than an issue, but from what I can tell in my testing disabled elements aren't removed from Algolia. We have a multi-site setup, where each site's entry is an individual record on Algolia. What seems to be happening is that when a site's entry is disabled, its not being removed from the index.

Does this sounds right? Should I maybe be doing something different like pushing all

[2019-12-11 22:26] johnj24 opened #126 "Installation Error: Class 'Tightenco\Collect\Support\Collection' not found"
Hello,

I've tried installing Scout locally a couple of times and am getting the same error each time. I've searched around and haven't found anything regarding this error for Craft. Any ideas?

[code]

Craft: 3.3.17

[2019-12-12 08:36] riasvdv commented on #126
Can you try running a `composer update` and see if that fixes the issue?

[2019-12-26 17:48] Josh-Mus opened #129 "Cant seem to update with multiple indexes, only updates the first index"
[code]

The indices work if theres only one, but if I put in more than one it seems to ignore anything after the first index.

Any ideas ?

[2019-12-28 13:19] #129 closed

[2019-12-28 13:19] Josh-Mus opened #130 "Exception 'Error' with message 'Class 'Tightenco\Collect\Support\Collection' not found' in /var/www/html/vendor/rias/craft-scout/src/models/Settings.php:57"
Exception 'Error' with message 'Class 'Tightenco\Collect\Support\Collection' not found'

in /var/www/html/vendor/rias/craft-scout/src/models/Settings.php:57

[2020-01-03 01:31] khalwat commented on #121
So what's happening is here:

https://github.com/riasvdv/craft-scout/blob/master/src/jobs/MakeSearchable.php#L34

`$engine` can apparently come back as `null`. Without looking deeply into why, or whether that's by design, a simple fix we can probably do is change the `execute()` function to be:

[code]

I can do a PR if you're still around @riasvdv -- probably just as easy for you to apply the fix

[2020-01-03 08:09] riasvdv commented on #121
I'm so sorry, completely lost track of this issue, I've added this fix in 2.1.4

[2020-01-03 18:52] rsanchez commented on #114
Any updates?

[2020-01-03 20:46] timkelty commented on #114
hey looks its @rsanchez!

Perhaps that will inspire me to make good on my PR promise…thanks for the nudge.

[2020-01-04 11:06] Josh-Mus commented on #126
@johnj24 did you find a fix for this in the end?

[2020-01-05 20:37] Josh-Mus commented on #130
<img width="863" alt="Screenshot 2020-01-05 at 20 14 53" src="https://user-images.githubusercontent.com/57259073/71785737-1abb4a00-2ffb-11ea-9c66-1c5784228b7d.png">

[2020-01-06 08:14] riasvdv commented on #130
Which PHP version are you running on?

[2020-01-06 08:23] riasvdv commented on #125
If an entry no longer validates the criteria it should be removed from the index, is there any more info you can give me like the Scout config and criteria?

[2020-01-06 14:55] Josh-Mus commented on #130
It's running on version 7.3.13

[2020-01-06 17:26] joshuabaker opened #132 "Reverse related elements"
Would it be possible to trigger a sync when related elements are saved?

For example, when someone edits a category title all of the entries that have that category would sync.

We’ve put together this snippet, which is working via `Element::EVENT_AFTER_SAVE` in a module.

[code]

[2020-01-07 02:20] timkelty commented on #132
Certainly, I've had use for this as well.

So what you have is working, but you're suggesting maybe we bake that in, or enable it behind an option?

[2020-01-07 02:23] timkelty commented on #130
its a dep, so there must be something up with your composer…https://github.com/riasvdv/craft-scout/blob/master/composer.json#L28

Maybe try nuking your composer dir and `composer install`ing again?

[2020-01-07 09:01] joshuabaker commented on #132
Definitely baked in somehow. Behind an option that’s enabled by default, would be my suggestion.

[2020-01-07 14:11] timkelty commented on #132
@joshuabaker sounds good. I have some planned upgrades in the works, so I'll try to include this.

[2020-01-07 14:23] joshuabaker opened #133 "Exception if mappings is present but indicies is not"
Just found one of our older projects still had `mappings` in the config file whilst using Scout v2.

Could/should an exception be thrown where `mappings` is present and `indicies` is not?

[2020-01-07 23:20] johnj24 commented on #126
I'm sure there's a better way than what I did, but I ended up reinstalling Craft and my other plugins. Scout installed just fine after that.

[2020-01-07 23:20] #126 closed

[2020-01-13 12:19] joshuabaker opened #134 "shouldBeSearchable is always false"
When saving entries in one of our sites `shouldBeSearchable` is returning `false` for every element.

[2020-01-13 12:22] joshuabaker commented on #134
Some initial debugging suggests that every call from [`L164`](https://github.com/riasvdv/craft-scout/blob/3a89a0383bc0e249e4c6c27e6124044d64f15a0a/src/behaviors/SearchableBehavior.php#L163) is returning `true` for `getIsRevision`, even for new entries.

[2020-01-13 12:33] riasvdv commented on #134
When you save an entry, it always first saves a revision and afterwards saves a full entry, if you're debugging using something like dump & die, only the first save will be logged.

Are you sure it's **always** returning true?

[2020-01-13 13:17] joshuabaker commented on #134
You’re right, @riasvdv. I was using dumb and die. The second call does look indeed look correct.

Nothing is getting indexed in one of our installs. If I dump out the raw SQL there’s a difference between what goes in via [`criteria`](https://github.com/riasvdv/craft-scout/blob/3a89a0383bc0e249e4c6c27e6124044d64f15a0a/src/ScoutIndex.php#L66) and what comes out [`validatesCriteria`](https://github.c

[2020-01-13 13:23] riasvdv commented on #134
Can you share your scout config file, how you configured the criteria & index?

[2020-01-13 13:27] joshuabaker commented on #134
I’ve paired it back a lot. Here’s what I’m currently using.

[code]

[2020-01-13 13:29] riasvdv commented on #134
What's the difference there? It should only be adding an extra constraint on the id of the entry

[2020-01-13 13:35] joshuabaker commented on #134
<details>
<summary>Before</summary>
SELECT `elements`.`id`, `elements`.`fieldLayoutId`, `elements`.`uid`, `elements`.`enabled`, `elements`.`archived`, `elements`.`dateCreated`, `elements`.`dateUpdated`, `elements_sites`.`slug`, `elements_sites`.`siteId`, `elements_sites`.`enabled` AS `enabledForSite`, `elements_sites`.`uri`, `entries`.`sectionId`, `entries`.`typeId`, `entries`.`authorId`, `entries

[2020-01-13 13:52] riasvdv commented on #134
That `after` one looks like this call https://github.com/riasvdv/craft-scout/blob/master/src/behaviors/SearchableBehavior.php#L121

[2020-01-13 13:59] joshuabaker commented on #134
That makes sense, however, I’m only outputting the raw SQL if the owner ID matches.

[code]

[2020-01-13 14:02] riasvdv commented on #134
Do you have queue enabled for Scout?

[2020-01-13 14:02] joshuabaker commented on #134
I’ve disabled it locally.

[2020-01-13 14:03] riasvdv commented on #134
Then it will do the related query first, and then index the element

https://github.com/riasvdv/craft-scout/blob/3a89a0383bc0e249e4c6c27e6124044d64f15a0a/src/behaviors/SearchableBehavior.php#L88-L92

That's just the way the code is structured and shouldn't cause any issues

[2020-01-13 14:05] joshuabaker commented on #134
It should get there though as `validatesCriteria` returns `false`.

https://github.com/riasvdv/craft-scout/blob/3a89a0383bc0e249e4c6c27e6124044d64f15a0a/src/behaviors/SearchableBehavior.php#L75-L77

[2020-01-13 14:07] riasvdv commented on #134
Right, can you try logging the validatesCriteria output and save the entry? Want to see how many times it gets called and the result each time for that entry.

There's nothing extraordinary about the entry right? It's enabled in every site?

[2020-01-13 14:09] joshuabaker commented on #134
It got called 3 times.

[code]

[2020-01-13 14:10] riasvdv commented on #134
And the result is `false` every time?

[2020-01-13 14:10] joshuabaker commented on #134
Sorry, yes, it’s `false` every time.

[code]

[2020-01-13 14:12] joshuabaker commented on #134
And, no, nothing extraordinary. One site. One entry. Definitely enabled.

[2020-01-13 14:16] joshuabaker commented on #134
I’ve found it. Rather embarrassing. It’s [this code](https://github.com/riasvdv/craft-scout/issues/132#issue-545844395).

The `$index->criteria` call isn’t cloned so is instead modified. It explains the `targetElement` adjustment to the query.

[2020-01-13 14:22] riasvdv commented on #134
Ah! Yeah the clone is pretty important, glad you found it

[2020-01-13 14:24] joshuabaker commented on #134
Just reinstated everything and it’s working again. Thanks so much for your time, @riasvdv. 🍻

[2020-01-13 14:24] #134 closed

[2020-01-13 16:44] timkelty opened #135 "Override batch_size from cli arg"

[2020-01-13 17:17] timkelty opened #136 "Camel case settings"
@riasvdv Scout's config options (eg `application_id`) are snake_case, while it is idiomatic for Craft to use camel. Any strong feelings either way?

[2020-01-13 17:56] riasvdv commented on #136
I’d say following Craft is the way to go 👍

[2020-01-15 06:15] engram-design commented on #125
Ah, looks like this is because I'm modifying `objectID` in the transformer.

[code]

This is because I want a separate item in Algolia for each site. Stepping through the code, its failing to find the object to delete, because the object ID is incorrect (its trying to delete an object of `12456`, but its stored as `123456_1`).

Maybe I'm going about it the wrong way?

[2020-01-15 06:16] riasvdv commented on #125
You shouldn’t have to touch the ObjectID, Scout makes sure they’re unique across different sites

[2020-01-15 06:23] engram-design commented on #125
@riasvdv Not seeing that behaviour. Its adding an item with an objectID of `296315`, when I save an item on one site, then saving the same entry on another site overwrites the same item.

For example, see this in Aloglia after saving an entry in one site (siteID 2)
 - https://d.pr/free/i/NsTk4P, and then saving the same entry in siteID 3 - https://d.pr/free/i/KE1tDJ, which has overwritten the obje

[2020-01-15 06:35] riasvdv commented on #125
Ah right, for Scout v2 I stepped away from that because it was never possible to track all the elements correctly across different sites.

If you want separate entries for different sites, you should create separate indices, and use Algolia to search across them https://www.algolia.com/doc/api-reference/api-methods/multiple-queries/?language=javascript

[2020-01-15 07:12] engram-design commented on #125
Gotcha, I'll see what I can do, just requires a bit more re-jigging on the front-end.

FWIW, its a matter of changing `https://github.com/riasvdv/craft-scout/blob/master/src/engines/AlgoliaEngine.php#L60`. I would've thought changing to `return $object['objectID']` would do the trick, but `$object` is an Entry element...

[2020-01-15 08:05] engram-design commented on #125
Anyway, will go for the multi-indices option, thanks!

[2020-01-15 08:05] #125 closed

[2020-01-16 00:08] DaveRayner commented on #130
Hi All,

We are getting this error too when attempting to update Scout (after updating Craft to 3.3.19).
The site is live, so we can't delete the composer files and re-install - a bit risky.

Any ideas as to what we can do? (I notice the issue was here: https://github.com/riasvdv/craft-scout/issues/126)

We are currently unable to re-install Scout - which is a bummer.

PHP: 7.2.26

Let me know if

[2020-01-19 00:11] timkelty commented on #130
@DaveRayner can you post your composer.json and composer.lock files?

[2020-01-19 00:47] timkelty commented on #133
Seems like a good idea @joshuabaker

[2020-01-19 21:35] DaveRayner commented on #130
Hi Tim,

Sure thing:

`{
  "require": {
    "craftcms/aws-s3": "1.2.6",
    "craftcms/cms": "3.3.19",
    "craftcms/contact-form": "2.2.6",
    "craftcms/contact-form-honeypot": "1.0.2",
    "craftcms/element-api": "2.6.0",
    "craftcms/feed-me": "4.2.0",
    "craftcms/webhooks": "2.2.0",
    "dolphiq/sitemap": "1.2.0",
    "froala/craft-froala-wysiwyg": "2.9.5",
    "matt-west/craft-recaptcha":

[2020-01-22 06:09] ax2000 commented on #130
Hi there,

I'm also getting this.
Running Craft CMS 3.3.20.1 and trying to do a fresh install of Scout 2.1.4.
PHP version 7.1.12

Happy to provide anything else if needed

[2020-01-22 09:20] Josh-Mus commented on #130
Hi All,

My problem down to my docker box. It wasn't installing PHP zip properly so it wasn't able to unzip the package Tightenco\Collection, therefore, the files couldn't be found. So if you guys are using docker this could be the problem.

[2020-01-22 14:00] timkelty commented on #130
@Josh-Mus glad you figured it out!

I'm on Docker, but wasn't experiencing this as I I did have zip installed.

I run composer in the same container as my app, but you also could run it in its own container using https://hub.docker.com/_/composer.

For posterity, here's what my Dockerfile looks like:

[code]

@ax2000 any chance you're also using Docker, or don't have

[2020-01-23 02:47] ax2000 commented on #130
Thanks for the reply @Josh-Mus @timkelty .

My dev environment runs MAMP PRO 4.5 and PHP zip appears to be installed correctly so not sure what could be happening there.

I've tried removing the vendor directory and reinstalling, and also pushed the updates to my staging environment which runs in a Linux box with PHP 7.2 and PHP zip also installed and enabled.

Also tried to disable all extensions

[2020-01-23 10:43] timkelty commented on #130
@ax2000 can you send over your composer.json/composer.lock

[2020-01-23 19:54] lindseydiloreto opened #138 "Migration bug (going to v2.x)"
I'm updating Scout from `1.3.2` to `2.0.0`, and bumping into this migration issue. Not sure exactly what's causing it...

[code]

[2020-01-23 20:53] lindseydiloreto commented on #138
Weird, it seems like the `tightenco/collect` package isn't installed, even though Scout required it.

I guess we can blame this one on Composer! Thanks, and sorry for the false alarm! 👍

[2020-01-23 21:33] timkelty commented on #138
I love to blame composer! But something odd seems up... a few other people are having trouble with the collection dep too... I’m guessing it’s some conflict with other packages

[2020-01-23 23:54] ax2000 commented on #130
Thanks @timkelty,

Composer files here [ax2000-composer-files.zip](https://github.com/riasvdv/craft-scout/files/4106185/ax2000-composer-files.zip)

Please let me know if there's anything else I could check.

[2020-01-24 17:56] lindseydiloreto commented on #138
Thanks for confirming @timkelty! So I guess it wasn't just me.

I noticed that when I copy the `tightenco/collect` up to the main composer.json file, everything loads as expected. But when I don't add it, and let composer rely on Scout's composer.json file, the `tightenco/collect` package doesn't get installed.

@timkelty If it were a conflict with other packages, wouldn't composer just yell & giv

[2020-01-24 18:12] timkelty commented on #138
Yup it should, but I've seen Composer do weirder things…

This seems like the same issue as https://github.com/riasvdv/craft-scout/issues/130, so lets track there.

[2020-01-24 18:12] #138 closed

[2020-02-05 12:23] davebeesley opened #140 "Use Field (MultiSelect) values as an index"
Hi,
Is it possible to access the options on a MultiSelect field, and use scout to create an index from them?

Edge use case I know. But this would be super handy.

[2020-02-05 12:39] timkelty commented on #140
🤔... @davebeesley which options specifically? Can you sketch up what you think the field is oils look like?

[2020-02-05 12:40] timkelty commented on #140
Or are you just saying using an existing multi select and using the values in your index?

[2020-02-06 10:40] davebeesley commented on #140
Yeah, that is the one. Taking the possible values in an existing Multi select field in Craft. And then using them to generate an index for searching with (ie. Job Role)

[2020-02-06 14:38] timkelty commented on #140
@davebeesley certainly possible…

To clarify:

- Where does this field live, a global?
- So you want a scout index for each option in your select? Does the selected value mean anything then?

[2020-02-06 15:00] davebeesley commented on #140
Hey @timkelty
The field is on a section (channel) for "Employees"
I want to index the options - So say an index called `job_roles` would have entries called, 'Boss', 'Cleaner', 'Receptionist'
We then use this to populate a field on our search page. As all employees will be tagged with job roles.
Basically, when the client adds new job roles, we want to use scout to keep everything in sync, save ma

[2020-02-06 15:15] timkelty commented on #140
@davebeesley Sure, I'll post an example of what you're after, but it also seems like there might be other options. Seems like multiple indices isn't really necessary if you use filtering instead.

Can you outline what the end goal is (ie what shows up on your search page)?

Are we talking about a listing of employees with a facet filter for `job_roles`?
Or a dedicated page for each job role that i

[2020-02-06 15:21] davebeesley commented on #140
The first one. An employee listing, where you can change the job roles filter and it adjusts the results.

All of that is in place, and we are using a manually updated index already.

We just need a way to keep that index up to date automatically, from the possible values of the job role field in Craft, as people will forget to update the index

[2020-02-06 15:25] timkelty commented on #140
Ok – yeah I don't think separate indices is the right option here.

Can you send you current scout.php config?

[2020-02-06 16:09] davebeesley commented on #140
Yeah, is there a support address I can send it to?

[2020-02-06 16:12] timkelty commented on #140
@davebeesley tim@fusionary.com

[2020-02-07 09:44] davebeesley commented on #140
Hey Tim.
I have sent over the `scout.php` file as requested. Hopefully GSuite doesn't gobble it up.

[2020-02-10 12:07] fantasticmachine commented on #130
Same issue here. Have just got everything up to date but having Scout installed results in this error.
Even installing tightenco/collect within the main composer.json doesn't fix the issue for me.

[2020-02-10 14:51] timkelty commented on #130
@fantasticmachine did you try totally wiping your vendor dir and `composer install`ing again?

[2020-02-10 14:52] fantasticmachine commented on #130
@timkelty I did. But I'll give it another go later on and report back.

[2020-02-10 15:07] mattstauffer commented on #130
Does anyone here have the ability to run `composer require tightenco/collect` in the project that's throwing the error (meaning, in the terminal)? That'll give us better error information about what's keeping collect from being installed.

[2020-02-11 09:20] fantasticmachine commented on #130
@mattstauffer I tried installing tightenco/collect manually using Composer and there were no problems with the installation but Scout still complained about the missing class.

[2020-02-14 18:41] aaronbushnell commented on #130
Not sure if this is the case for anyone else but my `composer.json` had a the `php` value set to `7.0`. Once I changed that to `7.2`, wiped my `vendor/` and `composer.lock` and reinstalled I was good to go!

[2020-02-17 12:20] jamesmacwhite opened #142 "Calling unknown method: craft\elements\GlobalSet::searchable()"
I've recently updated to Scout v2 and noticed when saving global settings I'm getting this error below.

It looks like Scout is intercepting the save event for Globals and calling `searchable()`, however this doesn't appear valid for GlobalSets in this case.

* Craft CMS: 3.3.20.1
* Plugin versions: 2.1.4
* PHP version: 7.2

***To reproduce:***

1. Install Scout v2.1.4
2. Go to a global set in the

[2020-02-17 14:28] jamesmacwhite commented on #108
In addition, you could also do this:

[code]

true/false or 0/1 would return a boolean in both examples.

[2020-02-17 16:15] sunscreem opened #143 "Has something changed in 3.4?"
It seems my transformer breaks when updating an entry in the dashboard. But it works fine when manually updating from the command line. In the (failed) queued jobs it seems that `$entry->documentFiles` is the query object instead of the returned array?

Is this a recent change with upgrading to craft 3.4?

In order to loop through a list of documents for uploading, I'm now having to do this.

[cod

[2020-02-17 18:07] besimhu commented on #108
I should have responded to this. I was able to setup several ENV keys:

1. `'indexName' => getenv('ALGOLIA_INDEX_ENTRIES'),`
2. `'sync' => getenv('ENVIRONMENT') === 'production' ? true : false,`

^ my current setup, I probably could have also made the sync a custom env variable. But for now I am fine just syncing on production.

[2020-02-17 21:28] nikolowry commented on #69
Found myself in the same scenario after needing to implement a global search that included both `craft\elements\Entry` and `Solspace\Calendar\Elements\Event`.

I got around Scout's `validateConfig` method by installing `cweagans/composer-patches` and using this patch:
[code]

@riasvdv maybe you could add a `validate_config` boolean property that defaults to `true` in Scout's conifg?

[2020-02-18 17:04] besimhu commented on #69
@nikolowry

Are you able to provide a full example of how you patched and or what needs to be done? It looks like you copied some git diff in your messagfe.

[2020-02-18 17:20] nikolowry commented on #69
@besimhu a patch is produced by diffing. To replicate what I did:
- `composer require cweagans/composer-patches`
- Save the patch contents I posted above in your project's root at `patches/Scout-Indices-No-Validation.patch`
- In your `composer.json` add the following to `extra`:
[code]
- Now any time you run `composer install` or `composer update`, `cweagans/composer-patches` will automatically ap

[2020-02-20 22:47] jamesmacwhite commented on #142
This turned out to be something else not related, where by globals had been broken and not initialised properly, because code somewhere else was breaking things!

[2020-02-20 22:47] #142 closed

[2020-02-21 22:47] besimhu commented on #69
@nikolowry  thank you, it worked as you described.

[2020-02-22 04:56] nikolowry commented on #69
@riasvdv what type of tests would you need to convince you multiple elements on one index works as expected?

I've been indexing two elements -- Entries and `Solspace\Calendar\Event` -- on the same indices in two separate environments (dev/stage) for over a month without an issue.

Or thoughts on adding a boolean config setting to allow users to index multiple elements on one index? You could expl

[2020-02-24 15:24] besimhu commented on #69
I agree with @nikolowry ... I am relying on the instantsearch.js and that does not allow for combining multiple indecies. I have some content that falls under categories, and while they are categories, they do contain website content. So when I am wanting to do a website search, I need to include those as part of the website index.

[2020-02-25 00:40] ax2000 commented on #130
Hi guys,

I tried running `composer require tightenco/collect` as @mattstauffer mentioned but it made no difference. It did't throw any errors on installation via command line but the plugin installation still showed same error.

Also tried changing php version from `7.0` to `7.2`, wiping `vendor` and `composer.lock` but no luck either there.

Happy to try anything else you think it might throw so

[2020-03-01 10:48] riasvdv commented on #130
I've changed the dependencies a bit in 2.2.0, should be fixed now. You can always reopen if it still happens

[2020-03-01 10:48] #130 closed

[2020-03-01 12:59] jamesmacwhite opened #146 "league/fractal ^0.19 dependency conflicts with Element API plugin"
@riasvdv Just making you aware, the recent 2.2.0 release pushed an update to the league/fractal dependency, however there is a bit of  a conflict with the Element API plugin as that is currently specifying ^0.18.

[code]

[2020-03-01 13:02] jamesmacwhite commented on #146
I guess one workaround is to stay on 2.1.4 temporarily

[2020-03-01 13:59] riasvdv commented on #146
Should be fixed in 2.2.1, thanks for bringing it to my attention!

[2020-03-01 13:59] #146 closed

[2020-03-01 14:19] jamesmacwhite commented on #146
Thanks for the quick fix!

[2020-03-02 08:29] riasvdv commented on #143
The `->with` will only work when using from the command line, that's sadly just the nature of how everything's connected. The safest way is to not do a `with` and just always use `->all()`

[2020-03-02 08:29] #143 closed

[2020-03-06 03:00] degraaf opened #148 "Element not removed when "skipped" if already in index"
We have a "Do not index" option on entries, which we use to flag in our transformer to skip entries from being indexed.

However, if an entry is already indexed and the empty array is returned, the element is not removed. We need to run an index refresh to ensure entries previously indexed are removed and then valid entries re-added.

Is there a way to trigger removal of an entry from the index wi

[2020-03-09 15:22] #109 closed

[2020-03-09 15:23] riasvdv commented on #109
The batch runs a different query to make the indexing faster

[2020-03-30 16:49] JonnyBR12 opened #152 "Error with ProjectConfig after settings changed"
Hey @riasvdv

We had Scout working fine but after unticking 'Sync' in the CMS settings, we now get the following error below. Have you seen this before?

Only way to get back in the CMS is to remove the Scout line from phpMyAdmin. Then, I remove it from the plugins list but when installing again, I get the same issue. I'm using the set-up file as per the docs that was working initially with the co

[2020-03-31 11:04] joshangell commented on #152
I hit this issue as well on a live site (doh), to fix it for me I removed all the rows from the `projectconfig` table that had a `path` starting with `plugins.scout.settings`.

I’m going to debug it locally now and see if I can reproduce it at all ...

[2020-03-31 11:40] JonnyBR12 commented on #152
Ha, yeah I did the same thing just earlier and not long re-installed - I think we had almost 300 rows in there in the projectconfig table. I found it out by searching the database for any mentions of 'scout'.

[2020-04-14 11:39] martinhellwagner opened #154 "Updating to Craft 3.4 broke Scout"
Seems like our update to Craft 3.4 broke our installation of Scout. No indexes are synced to Algolia any more – even running the CLI command doesn't seem to work (see screenshot – there used to be at least _some_ output).

Are there any breaking changes in Craft 3.4 concerning Scout that we are not aware of? We haven't changed anything in the mappings or in any part of our code that concerns Scout

[2020-04-14 13:18] twosixcode opened #155 "Scout does not update the index for entry set to status disabled, does not delete on entry delete"
I have  `sync` set to `true` and my criteria look like this
[code]
Because I am indexing all sites, I can not rely on Entry ID as Object ID (because the same entry exists in multiple languages). If I do not use a unique Object ID I end up overwriting the record with whatever language was most recently saved. So I have a transformer that creates a unique Object ID by appending the locale slug to th

[2020-04-14 15:36] martinhellwagner commented on #154
Turns out our configuration was written for Scout v1 – hence why it stopped working. Rewrote it for v2, and everything works great.

Sorry for the false alarm! 😛

[2020-04-14 15:36] #154 closed

[2020-04-15 12:22] martinhellwagner commented on #152
Same thing happening to my – only on my local environment though.

[2020-04-15 12:27] martinhellwagner opened #156 "Toggle in settings to stop validating project config"
@riasvdv

Since our use of Scout is somewhat complicated and we end up having three arrays with the same `indexName` in our `indices` in the Scout config, the exception "Index names must be unique in the Scout config" is thrown. However, there is unfortunately no way around creating non-unique index names with our current configuration, and the indices get pushed to Algolia correctly.

Might it be

[2020-04-15 12:36] timkelty commented on #156
@martinhellwagner could you post your scout config?

[2020-04-15 12:38] martinhellwagner commented on #156
[code]

[2020-04-15 12:38] martinhellwagner commented on #156
We have a pretty complicated mapping going on that _needs_ to be run three times (one for each section) for a specific index name.

[2020-04-15 12:51] timkelty commented on #156
I know this isn't the answer you want – but until I can take a look, it seems like you could have one index, with the element querying for all three sections, and then deal with any indexing differences in the  transformer.

The only way I can imagine needing to do what you're describing is if you needed a given entry to be mapped to 3 unique Algolia objects in the same Algolia index.

[2020-04-15 12:53] martinhellwagner commented on #156
This is actually what I've tried, but couldn't get it to work. Unfortunately I can't spend any more time on that right now, as we need indexing to work again sooner than later.

[2020-04-15 12:56] timkelty commented on #156
@martinhellwagner fair enough – there's been discussion of making indexName non-unique here: https://github.com/riasvdv/craft-scout/issues/69

I'm hoping to get to that this week, which hopefully should help you. Stay tuned!

[2020-04-15 12:59] martinhellwagner commented on #156
Thank you so much – really appreciated! 👍

By the way, I'm also experiencing the problem described in https://github.com/riasvdv/craft-scout/issues/152 – just FYI.

[2020-04-15 13:01] timkelty commented on #156
Thanks - hoping to plow through a bunch of issues this week.

[2020-04-20 09:03] martinhellwagner commented on #152
@timkelty

Any news on this? It's turning out to be a major problem on our systems because it renders every environment unusable after each deploy – we have to fix it manually by editing the Craft CMS source code in the `ProjectConfig.php` file in the vendor folder.

[2020-04-20 13:45] timkelty commented on #69
Reading through this, my inclination is to keep `indexName` unique, but allow users to manually tap into a `getElements` method, like @verbeeksteven https://github.com/riasvdv/craft-scout/issues/69#issuecomment-548764036 suggested.

So it might look something like this:

[code]

It seems like this would fit people's use-cases, while maintaining the 1-1 relationship of ScoutIndex to Algolia index.

[2020-04-20 13:48] timkelty commented on #156
@martinhellwagner Going to close this in favor of a solution from #69.

[2020-04-20 13:48] #156 closed

[2020-04-20 14:02] timkelty commented on #155
Possibly, but it also sounds like something we should account for out of the box. PRs are welcome, but I'll try and look at it this week with other updates.

[2020-04-20 14:23] timkelty commented on #95
FWIW - you can query `*` or an array on sites now in Craft, so if you didn't need them in different algolia indices, you could do this in one criteria.

[2020-04-21 11:32] martinhellwagner commented on #69
@timkelty

I'm confused: is this already implemented or will this be implemented in the future?

[2020-04-21 11:50] timkelty commented on #69
@martinhellwagner not yet implemented, but thinking it should be a quick addition.

[2020-04-24 17:55] epapada commented on #155
I have a similar issue, but with `enabledForSite` status. I have multiple indices (one for each language - it is a commerce site) and I cannot figure out how ti remove all products from all indices when I product is disabled, or remove only a product from the index when I disable "enabled for site"

I do this to go through each site and create the indices

`    foreach (Craft::$app->getSites()->ge

[2020-05-05 15:41] epapada opened #157 "Commerce product indexing multi-site"
We have an index for each site. We loop through each site and create the index like so:

`$algoliaIndices = [];
    $autocompleteIndices = [];
    foreach (Craft::$app->getSites()->getAllSites() as $site) {
        $algoliaIndices['products'.$site->id] =
            \rias\scout\ScoutIndex::create(getenv('ENVIRONMENT').'_products_'.$site->language)
            ->elementType(\craft\commerce\elements

[2020-05-06 08:01] epapada commented on #95
@ArtDepartmentMJ Hi! I am using the same solution for indexing our multi-site setup, however when I try to enter scout settings I get this error `Cannot redeclare siteIndices()` - are you having the same issue?

[2020-05-06 08:11] epapada commented on #95
@ArtDepartmentMJ I ended up placing the function before the return array (top of the file) and checking if the function exists before declaring it - not sure if that is a proper solution.

[code]

[2020-05-06 11:29] martinhellwagner commented on #152
@timkelty
@riasvdv

Checking in again on this issue – any news?

[2020-05-13 19:34] onebrightlight opened #158 "Allow for Partial Updating Objects"
Currently AFAICT Scout only allows full updating of objects in Algolia. I was wondering if we could instead update individual properties in an object as mentioned in [their docs](https://www.algolia.com/doc/api-reference/api-methods/partial-update-objects/).

Use case: Page view ranking is an important part of our indexes, but given the number of relationships and additional fields we have on each

[2020-05-13 19:48] lindseydiloreto commented on #158
This would be helpful for people who want to frequently update their Algolia records based on data from several of my plugins...
 - [View Count](https://github.com/doublesecretagency/craft-viewcount)
 - [Upvote](https://github.com/doublesecretagency/craft-upvote)
 - [Star Ratings](https://github.com/doublesecretagency/craft-starratings)

I could probably provide several other real-world use cases

[2020-05-13 23:06] timkelty commented on #158
Yup. This would be nice.

FWIW, I do this kind of thing on a nightly cron using `partialUpdateObjects`. In this example I refresh a "random" property on every object, because the client wants a random sort that gets refreshed daily 🤷‍♀️.

[code]

Same kind of thing should work for ratings, etc. I would think, but it would be nice baked in.

@onebrightlight With your example, it seems like you'd st

[2020-05-14 13:23] onebrightlight commented on #158
@timkelty yes, it’d still need to be a cronjob for me. Are you saying that it can’t be a partial or batch job in that case?

[2020-05-14 13:45] timkelty commented on #158
Nope, just clarifying.

That's exactly what I'm doing in my example above (I run `craft appmodule/randomize-index products` on a cron).

[2020-05-19 20:33] rianconley commented on #152
@timkelty
@riasvdv

I'm having the same issue with this plugin. I tried completely removing it and then re-installing it but the error persists.

[2020-05-20 14:18] bummzack commented on #69
We're running into the same issue. A solution as described in https://github.com/riasvdv/craft-scout/issues/69#issuecomment-616563983 would be a very welcome feature! ❤️

[2020-05-27 15:02] joshuabaker opened #159 "[FR] Add support for GraphQL based queries/criteria"
It’d be dreamy to be able to write a GraphQL query as an option, instead of supplying an element query via criteria. Technically, it could/should remove the need for a transformer too.

[code]

[2020-05-27 15:03] joshuabaker commented on #159
We would also need a way to specify the target schema.

[2020-05-27 15:44] joshuabaker commented on #159
Potential method arguments...

[code]

Potential logic...

In short, Scout could expect back `scoutObjects` and `scoutTotal`, or similar, to provide a uniform way to process the returned data.

[code]

[2020-06-02 17:41] tehtrav commented on #152
Same thing happened to me. My local site completely died after I clicked "Save" in the Scout settings control panel.

[2020-06-05 20:15] tehtrav commented on #155
The way I'm getting around this is I query for all entries regardless of their status and then filter them out on the front end with forced facets

[2020-06-08 13:13] tehtrav commented on #155
(Nvm, this works for disabled but not delete)

[2020-06-10 10:00] leevigraham commented on #152
+1… just got bitten by this.

[2020-06-10 10:08] martinhellwagner commented on #152
@timkelty
@riasvdv

Can you already provide an update for this? This issue is open for over 2 months and multiple people are affected by it. 🤔

[2020-06-11 19:02] justinholtweb opened #161 "Exception error when using custom Transformer class"
We have two custom Transformer classes declared in our config, but after a recent update to Craft 3.4.23 and update of Scout to 2.3.0 the Scout settings admin screen no longer loads, and instead triggers a 500 error stating that the classes can't be declared because they are already in use.

The configuration follows the docs regarding how to setup, declare, and then call the custom classes so I'm

[2020-06-13 04:13] timkelty commented on #152
Here's how I could get it back locally after saving settings in the CP:

Truncate the project config table TRUNCATE TABLE craft_projectconfig;
delete the entire plugins.scout.settings node in your project.yaml
Clear caches. Note - you may have to do this manually if you craft command is still throwing errors. In my case I had to restart my redis container. If you're using the default file cache, d

[2020-06-15 22:23] brandonkelly commented on #152
The way Scout 2 is storing nested objects in its field settings would have been problematic even before project config.

I’ve just submitted riasvdv/craft-scout#162 which should fix this error going forward.

[2020-06-16 06:07] #152 closed

[2020-06-17 12:45] ockam opened #163 "Using "*" in element criteria makes utility panel fail"
FWIW - you can query `*` or an array on sites now in Craft, so if you didn't need them in different algolia indices, you could do this in one criteria.

_Originally posted by @timkelty in https://github.com/riasvdv/craft-scout/issues/95#issuecomment-616587453_

[2020-06-17 12:58] ockam commented on #163
As suggested by @timkelty, you can use `*` to query multiple sites and aggregate them in a single indice.

It works fine, except for the Utility panel, which expect a single siteId:
[code]
Could you add a check for `*` or `is_array` and set the site to `"Multiple sites"` or a list of the sites?

[2020-07-08 14:02] davist11 commented on #97
How would this work? If I have an entry that is enabled for two sites, it only pushes one record to Algolia. I even tried passing in a unique `objectID`

[code]

[2020-07-08 18:21] davist11 commented on #114
👀

any update on this? Definitely have a need on my current project.

[2020-07-09 01:15] timkelty commented on #114
Thanks for the nudges…and sorry for the delays.
Up and had a baby and got a bit behind. 👶

Still on my list, and I'm looking at it tonight!

[2020-07-09 01:53] davist11 commented on #114
Dang babies, always getting in the way of everything 😂

[2020-07-09 14:22] davist11 commented on #114
Oh, and I forgot to say, let me know if I can help at all with testing.

[2020-07-09 15:09] timkelty commented on #97
@davist11 can you test with this branch? Should be fixed.

[code]

You've got the right idea with including your site in you objectID.
The issue stems from when before Craft allowed for querying multiple sites in a single query.

Unrelated: you could just pass `site(['en', 'es'])` in yoru query, instead of getting the ids yourself.

[2020-07-09 15:18] davist11 commented on #97
Hmm, is that branch name correct?

[code]

Niiiice thanks

[2020-07-09 15:31] timkelty commented on #97
whoops - use `dev-97-multisite-single-index`

[2020-07-09 15:40] davist11 commented on #97
Hmm, I'm still not seeing the spanish version getting created in Algolia. Dunno if the new distinct stuff I've added would have impacted that at all. Here's my index

[code]

[2020-07-09 15:41] timkelty commented on #159
I like the idea that it could potentially eliminate transformers, but in general it seems like a round-about way to ultimately end up with a `ElementQuery`. If Craft data was "GQL-first", it would be different but while it is backed the ElementQuery inferface, I'm not sure it would make sense, other than just being neat :)

I'll keep thinking about it, though…and of course I'm open to considering

[2020-07-09 15:48] joshuabaker commented on #159
Thanks for your thoughts, @timkelty. I think that’s really fair pushback.

We have a number of projects that now consume Craft data via GraphQL so it’s helpful to match the schema in Algolia for display purposes. Ultimately, there’s nothing stopping us from just executing a GraphQL call per element in the transformer (except the obvious performance issues when batching).

[2020-07-09 15:50] timkelty commented on #97
@davist11 weird…I'm using your $indices and it's working for me…

As a sanity check, can you go to your plugins page and make sure it looks like:
![Screen Shot 2020-07-09 at 11 44 35 AM](https://user-images.githubusercontent.com/18329/87061333-9def6f80-c1d9-11ea-8b97-04f81acbf2fa.png)

Hmm could be…what are you trying to do there? As it is, your transformer doesn't define a `distinctID`, so refere

[2020-07-09 15:56] davist11 commented on #97
Confirmed

That value automatically gets added (per the Scout documentation and what I'm seeing in Algolia records). I tried removing the distinct stuff and still not seeing the spanish version.

[2020-07-09 15:57] davist11 commented on #97
Is every entry (from each site) being passed separately to the transformer?

[2020-07-09 16:07] timkelty commented on #159
I see, so are you thinking you'd potentially pull in that GQL query from another file that you would be sharing with the frontend/client, and then they could magically stay in sync?

If thats what you're thinking, they yes, your idea becomes more appealing :)

[2020-07-09 16:12] joshuabaker commented on #159
That would become an option in a monorepo, yeah.

This is, of course, doable now with the approach I mentioned on a per element basis. It’d just be more flexible, cleaner and, potentially, more optimised pulling it up the chain.

[2020-07-09 16:20] timkelty commented on #97
Yes - everything from the criteria gets passed to the transformer, so unless you have a [unique](https://docs.craftcms.com/v3/dev/element-queries/entry-queries.html#parameters) parm on your criteria, you'll get back the elements from each site.

[2020-07-09 16:22] timkelty commented on #97
derp – right you are.

If its possible to share your composer files and db, that'd be helpful. Or even sync to a project.yaml file…

[2020-07-09 17:15] davist11 commented on #97
Sent, thanks!

[2020-07-27 15:16] elivz commented on #69
I also would love this functionality. Any progress or update on it?

[2020-07-27 15:19] timkelty commented on #69
@elivz No progress, but I'm really hoping to carve out some time for some long standing Scout issues in the coming week.

Does what I outline here fit your use-case? https://github.com/riasvdv/craft-scout/issues/69#issuecomment-616563983

[2020-07-27 15:34] elivz commented on #69
@timkelty Yes! I think being able to pass in an array of items in place of the ElementType/Criteria query rules would open up a lot of possibilities. Not just combining different element types, but potentially even indexing non-Element data from a raw SQL query or pulling from an external API or whatever (not sure if that would cause other complications & I currently have no need for it...just thi

[2020-07-28 16:07] twosixcode commented on #155
@timkelty Hi, hope you are well. I am wondering if you can suggest a workaround for this issue in the meantime.

[2020-07-28 16:17] timkelty commented on #155
@twosixcode  going to take a look at this this afternoon. Stay tuned

[2020-07-29 12:17] timkelty commented on #155
@twosixcode can you try using this branch in your composer.json?

[code]

I don't think it is going to solve your delete issue, but it may at least reindex your items with the updated status when you disable.

[2020-07-29 13:35] twosixcode commented on #155
@timkelty I just tested and Scout updates the index on entry save regardless of the entry's status now. That's great, thank you.

A similar issue I encountered is that re-saving of an Expired entry (or setting an entry to Expired) does not cause the entry to be dropped from the Algolia index. I assume this is a similar issue and is related to me using the custom objectId. Any chance that could be

[2020-07-29 14:59] timkelty commented on #155
@twosixcode can you post your whole scout.php file? or at least the full index we're talking about?

[2020-07-29 15:33] timkelty commented on #155
@twosixcode try something like this as a workaround:

[code]

I know you're not actually trying to split elements, but it may trick Scout into deleting things by the distinctID instead.

[2020-07-29 17:00] twosixcode commented on #155
Thanks, I tried adding `distinctID` and the `indexSettings` you suggested. Deleting in Craft still did not drop the record from Algolia. $entry-id is not really distinct across all sites, though (all versions of a given entry across each site have the same entry id, which is why I was using `'objectID' => $entry->id .'-'. $entry->locale` in the first place).

Here are the relevant bits from my sco

[2020-07-29 17:31] timkelty commented on #155
I don't see `splitElementsOn`…Did you try it with `->splitElementsOn(['anyField'])` like in my example?

I realize this, but when scout deletes things, if you happen to be using `splitElementsOn`, it deletes things by the distinctID (entry ID in this case), which would be what you want.

I think you realize this, but with `expired` in the status as you have it, Scout _shouldn't_ de-index on save o

[2020-07-29 18:03] twosixcode commented on #155
I did, yes. Sorry, I pasted in my current config file. But I did try your suggestion, verbatim. Maybe I need to try it again. It sounds like you expect that to work.

Yes, definitely. I only recently added that, as a workaround. Totally understand what you're saying there. But even without that in there Scout does not drop an expired entry from the index. All told, it's really not a problem for us

[2020-07-30 00:40] timkelty commented on #155
Yeah try deleting, with `splitElementsOn` in place, as well as all the other stuff. Maybe try splitElementsOn with an actual field handle you have.

At any rate, it would just be a hack – working on fixing this ASAP.

[2020-07-30 02:18] timkelty commented on #155
@twosixcode otherwise, adding something like this should serve as a workaround for the deletion bit:

[code]

[2020-08-12 17:35] elivz commented on #69
Before I start implementing a workaround for this, just wanted to check & make sure you're just just about to release an official solution 😁

[2020-08-12 18:13] timkelty commented on #69
@elivz pinged you on Discord

[2020-09-11 13:15] NancyLussier opened #168 "Not unique index names"
I think this should be optional (a config parameter). I need to index entries and products in one single index and I can't with the unique index names validation : https://github.com/riasvdv/craft-scout/blob/e36d5c7cdcc3380d1de53fc818e77b182ebf9976/src/Scout.php#L135

[2020-09-14 12:14] #168 closed

[2020-09-14 12:15] NancyLussier commented on #168
I saw there is already an issue opened for this.

[2020-09-14 12:15] timkelty commented on #168
👍 hope to get some time in the coming weeks

[2020-09-29 12:28] kiwidood opened #172 "Queud job - Invalid owner id"
Hi,

I have been getting queued jobs failing. Indexing * in *. Status failed. Invalid owner ID *.

It's caused by the shouldBeSearchable function on src/behaviors/SearchableBehavior.php, in particular the line checking:
ElementHelper::isDraftOrRevision($this->owner)

I imagine the fix would be to add another check to see if the owner exists first.

Craft CMS Version:
3.5.11.1

riasvdv/craft-scout

[2020-10-07 21:14] paulbrough commented on #69
I am also curious about the status of this. @timkelty your proposed solution above looks like it would work great for my use case. Any plans to implement?

[2020-10-20 13:50] twosixcode opened #173 "Feature request: Setting to prevent indexing relations"
Currently during an indexing task, Scout also indexes each of the relations on an entry. In our case we're working with content with 10+ relations per entry over 1000's of entries. So this is driving up the number of Algolia Record Operations beyond what our plan allows.

For our use case, a setting to disable indexing of relations would be very helpful. Something like `$depth = 1` or `$indexRelat

[2020-10-22 17:50] timkelty commented on #173
@twosixcode can you try this branch?

[code]

and set `'indexRelations' => false,` in your `config/scout.php` file?

[2020-10-22 20:25] twosixcode commented on #173
This worked perfectly. I toggled `indexRelations` on/off and observed the Algolia logs after making an entry save in Craft. With `indexRelations` set to `false`, the logs only showed a POST request for the entry itself. With it set to `true` I saw POST requests for all the relations on that entry.

[2020-10-24 07:10] nicolasbinet opened #176 "Index not updated after creating or updating Element"
Index are not being updated due to eager loaded relationships not being loaded.
It works fine from the CLI, but the job doesn't load those relationships the same way and returns an EntryQuery instead of an array.
How can we homogenize the returned Element passed to the transformer ?

[code]

[2020-10-26 14:21] timkelty commented on #176
@nicolasbinet to be clear, if you remove the eager loading (`with`), things work as expected?

[2020-10-26 18:05] nicolasbinet commented on #176
@timkelty Yes it does.
Removing the with() call and adding ->all to relatedAccessories fixes the problem.

[code]

[2020-10-27 10:14] timkelty commented on #176
Thanks @nicolasbinet.
Surprised this hasn't come up before!

Short term, I suggest just avoiding eager-loading (hopefully you have a separate queue worker running, so it shouldn't matter much). I presume you are just doing this for performance, yes?

Long term, this should definitely be addressed.
PRs for 2.x are welcome, otherwise it will be addressed in 3.x.

[2020-10-27 17:33] nicolasbinet commented on #176
@timkelty I've prepared a PR (#177)  for this problem, but I was not able to launch the test suite for it.
Let me know if you have any comment.

[2020-10-28 16:11] jornwildenbeest opened #178 "Scout breaks with craft commerce v3"
**Versions:**
[code]
**Issue:**

Scout doesn't work with commerce after updating to commerce v3, so it appears.

When I try to import craft commerce products into Algolia with this code:
[code]

It returns this error:

[code]

FYI: the whole site throws this error.

For some reason the function `Plugin::getInstance()` inside the craft\commerce\elements\Product class behaviors function returns null

[2020-11-03 12:59] timkelty commented on #176
Thank you, @nicolasbinet! Will review asap.

[2020-11-17 17:40] joshuabaker opened #179 "Don't needlessly override Algolia defaults (connect_timeout)"
I started getting the following error, which proved quite hard to diagnose. Not a very helpful error from the API wrapper.

[code]

In short, at least in this instance, it’s a result of having the `connect_timeout` set to 1 second by default. Could we increase this to the default of 30 as per the [official defaults](https://www.algolia.com/doc/api-reference/api-methods/configuring-timeouts/#parame

[2020-11-19 04:23] timkelty commented on #179
@joshuabaker that link says the defaults are: "PHP, Ruby, JavaScript, Python, Android, Java, Go, and Scala: 2 seconds"

At any rate, it seems like maybe we shouldn't be setting them at all by default and just be relying on the defaults, unless explicitly passed.

[2020-11-19 11:51] joshuabaker commented on #179
@timkelty Quite right, it does say “2 seconds”.

The plugin does actually [set that value](https://github.com/riasvdv/craft-scout/blob/3bf77ca8da9f422f8cc64ca9e64c8ee986f31c8f/src/Scout.php#L56) as [1 second](https://github.com/riasvdv/craft-scout/blob/8c2ca56cc80d763ad9ff69d1bb59f6223221c12f/config/scout.php#L33), which was enough to cause an issue in our scenario.

Could we set the default confi

[2020-11-19 12:51] timkelty commented on #179
@joshuabaker exactly!

[2020-11-23 16:28] mgburns opened #180 "Disabling Scout sync during Feed Me Import"
I'm trying to figure out how I can temporarily disable Algolia sync during Feed Me imports.

I know it can be done manually via the settings page if we omit it from `config/scout.php` but we're hiding those in prod so I'm trying to figure out a way to do it programmatically. I see that Feed Me [fires events before / after feed processing](https://docs.craftcms.com/feed-me/v4/developers/events.html

[2020-11-23 16:31] mgburns commented on #114
Just wanted to bump this one!

Our workaround:
- Define `indexSettings()` for each replica index in the `indices` config
- Comment them out whenever you're _not_ running `./craft scout/settings/update`

[2020-11-23 22:33] twosixcode commented on #155
@timkelty Just confirming that we used something similar to the workaround you posted above to ensure deletion. Thanks!

[2020-12-01 22:31] ademers commented on #69
I also need to combine entries and categories into the same index.

[2020-12-03 17:26] jpcarpenter opened #181 "How to create index from entries attached to and entry field"
I'm no PHP expert, so this may be something simple I'm doing wrong. I'm attempting to create an index from entries that are attached to an entry field. This entry field is on a single. What I can't figure out is how to return the entries to Algolia as individual records.

I have tried this approach within the transformer, but each entry is returned as a single record within Algolia:

[code]

Is th

[2020-12-04 17:57] lmaucoin commented on #173
Thanks for the fix @timkelty! Seems very simple, but effective. We have a similar scenario that will greatly benefit from this. 👍

[2020-12-07 14:27] timkelty commented on #181
@jpcarpenter If you want the entries of `featuredResources` to be individual records in Algolia, then you would need to have the criteria that indexed those entries (eg `section='resources'`).

Then, whatever $entry is here could be also be indexed, and cross referenced like you are doing.

[2020-12-07 16:00] timkelty commented on #180
@mgburns Yep, agreed this is annoying. Adding to my list!

[2020-12-09 10:08] jornwildenbeest commented on #69
@timkelty did you make any progress with the following feature? https://github.com/riasvdv/craft-scout/issues/69#issuecomment-616563983

Looking forward to use it!

[2020-12-11 13:15] timkelty commented on #69
@jornwildenbeest Sadly no, other than in my thoughts.

I started a new position, so been quite busy.
That said, they use Scout quite heavily, so I still expect I will be able to carve out time, just been tight right now!

[2020-12-11 15:09] ademers commented on #69
@timkelty Thanks for the update!

[2020-12-12 15:14] lenvanessen commented on #113
@riasvdv I'd like to revisit this topic. There are certainly ways we could solve this from scout. One of them being creating a separate table and storing the element publishing dates like the Blitz plugin does.

Could this be on the roadmap for Scout, would be very helpfull.

[2020-12-12 15:17] lenvanessen commented on #113
@riasvdv and maybe we can add a config option to specify custom events that Scout wil listen to for updating the article, making the process more lightweight and straightforward than forcing a resave.

[2020-12-12 15:56] lenvanessen opened #182 "Allow registration of custom statuses for sync"
Hi There,

Currently, there is a workaround for scheduled posts that requires us to re-save the post. Would it be possible to create a setting for scout so that we can register custom events, or push an entry into scout's logic for syncing?

[2020-12-12 16:00] lenvanessen commented on #182
Nevermind;) just found it

[2020-12-12 16:05] #182 closed

[2020-12-17 17:15] weotch commented on #155
I was thinking of submitting a PR that replaces this bit:

https://github.com/riasvdv/craft-scout/blob/e36d5c7cdcc3380d1de53fc818e77b182ebf9976/src/jobs/ImportIndex.php#L25-L35

... with [`replaceAllObjects()`](https://www.algolia.com/doc/api-reference/api-methods/replace-all-objects/).  See any issues with this?

[2020-12-21 17:31] timkelty commented on #155
@weotch that seems like it would be problematic for large indexes, where batching is required due to the request size limits.

[2020-12-21 18:52] weotch commented on #155
What if replaceAllObjects() is conditionally used based on the presence of some config option (like `use_replace_all`)?  In the docs for this option we'd say like:

[2020-12-23 15:53] nicolasbinet commented on #176
@timkelty Have you had any time to review the PR ?

[2020-12-24 15:53] timkelty opened #183 "Add Typesense support"
https://typesense.org/

[2021-02-03 21:53] sidoneill commented on #152
@ryanirelan (and anyone else who, like me, was still having an issue even with the new release) the issue likely that you still have the offending nested objects stored in your projectconfig table. Look for and delete the plugins.scout.settings rows and you should be good to go (and no longer sweating every update).

[2021-02-18 12:07] davidhellmann commented on #152
Wow, Installed the Scout Plugin and kills my entire ENV. Not funny. Any Ideas if there a solution for this problems?

[2021-02-18 12:36] timkelty commented on #152
@davidhellmann with this same error?

[2021-02-18 12:38] davidhellmann commented on #152
Hey @timkelty

yes with the `Undefined offset: 1` error.

[2021-03-09 17:49] BradleyDRyan commented on #129
@Josh-Mus did you come up with a solution for this?

[2021-03-18 23:31] nickdunn opened #186 "Entries and assets into same Algolia index"
I want to achieve a site search that lets me filter by:

* Page (a section)
* People (a section)
* Locations (a section)
* Documents (an asset volume)

In Algolia this means querying from a single index so that results can be ordered together. I can't achieve a good result querying multiple indices and merging them.

I have worked out how to combine my 3 sections into a single Algolia index (`$que

[2021-03-24 01:48] timkelty commented on #186
@nickdunn Because this is not currently possible in a single criteria in Craft, it is not possible here.

It sounds like you are after the oft-requested: https://github.com/riasvdv/craft-scout/issues/69#issuecomment-616563983
Let me know if that sounds like that solution would fit your use-case. Sounds like it to me?

[2021-03-24 07:02] nickdunn commented on #186
Aha I hadn’t spotted this thread. Yes, getElements would solve this for me!

[2021-03-24 07:02] #186 closed

[2021-04-21 14:08] sparkalow opened #187 "Trigger index import via url (feature request)"
It would be great if we could trigger an index import with a url and secret key similar to feed-me.

something like this maybe:
[code]
The key could be defined in the config file or maybe in the control panel UI.

Some use cases would be allowing a client/non admin user to kickoff an import, setups with less control over cron or worker jobs could trigger imports, integration with external systems

[2021-04-21 22:42] timkelty commented on #187
@sparkalow If you need to it sooner, wouldn't be too hard to achieve with your own controller. Holler if you'd like help,

[2021-04-23 14:13] timkelty commented on #187
@sparkalow awesome! I'll put it in the pipeline

[2021-07-21 13:42] Stalex89 opened #192 "Update algolia/algoliasearch-client-php ^3.x"
I'm getting this error when trying to update algolia/algoliasearch-client-php to version 3.0.1
Is it related to the rias/craft-scout plugin dependencies? Thank you

Composer output: Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

Problem 1
- rias/craft-scout is locked to version 2.4.0 and an up

[2021-07-23 00:16] gregkohn opened #193 "Support adjusted splitting behavior for arrays of length one"
Currently when splitting elements, if an element has an array of just one thing for the relevant key, that record isn't split and it gets the entire array.

https://github.com/riasvdv/craft-scout/blob/bf30a01602a4e5db45c09ce43233be7b512abba6/src/engines/Engine.php#L36-L40

This is in contrast to an element that does need to be split, where each record gets one of the array children without the wra

[2021-07-23 15:21] davist11 opened #194 "Make scout/settings/update accessible in the CP"
It would be super handy to have `./craft scout/settings/update` available inside the Scout utility in the CP. While we typically always run it on the command line, sometimes non-technical people may need to update settings.

[2021-07-25 09:16] brambeekman opened #195 "Call to a member function getPaymentCurrencies() on null"
When using scout to make an index with products it gives this error `Call to a member function getPaymentCurrencies() on null`

[code]

[2021-07-25 09:19] brambeekman commented on #178
Did you find a fix for this?

[2021-07-28 10:08] denisyilmaz commented on #69
any chances this feature will be realized sometime soon?

[2021-08-03 15:26] #95 closed

[2021-08-03 15:38] janhenckens commented on #192
algolia/algoliasearch-client-php 3.0.0 is a breaking change from 2.x and it drops support for PHP < 7.2.

That would be a significant change for us too so marking this for plugin version 3.0.0 at minimum.

[2021-08-03 16:01] #159 closed

[2021-08-03 16:44] #124 closed

[2021-08-05 18:21] janhenckens commented on #148
Hey @degraaf, not sure how relevant this is now but I'm going through issues so here goes :)
I think the best way to handle is to listen for the `Elements::EVENT_BEFORE_SAVE_ELEMENT` and compare value of the "Do not index" field. If it changed from `false` to `true`, you can call `$event->sender->unsearchable()`. That will remove the element from any index it is in.

Feel free to reopen this or cr

[2021-08-05 18:21] #148 closed

[2021-08-05 19:04] janhenckens commented on #195
Duplicate of #178, closing this issue.

[2021-08-05 19:04] #195 closed

[2021-08-05 19:19] janhenckens commented on #161
Hey @justinholtweb, not sure how relevant this is now but I'm going through issues so here goes :)

I tried this with 2 custom transformers on current versions of Craft and Scout and I can't reproduce this.
If you're still having this issue, feel free to reopen this issue. Thanks!

[2021-08-05 19:19] #161 closed

[2021-08-06 10:45] rgbjay opened #199 "Cannot save GlobalSet due to Calling unknown method: craft\elements\GlobalSet::searchable()"
When saving a Global Set I receive the error:
`Calling unknown method: craft\elements\GlobalSet::searchable()`

The stack trace points to something in Scout that seems to be causing this. I have read a previous issue that stated FreeForm was the culprit however this doesn't seem to be the case here as even with Freeform disabled - the error persists. Only deactivating Scout 'solves' the error.

Yi

[2021-08-06 11:36] janhenckens commented on #199
Hey @rgbjay, could you share your Scout indexes config?

[2021-08-06 12:07] rgbjay commented on #199
Hey Jan,

Sure, please see below:

[code]

[2021-08-06 15:32] janhenckens commented on #199
Not sure where that config would involve or touch a GlobalSet, could you share the full stack trace @rgbjay? Thanks!

[2021-08-06 15:42] rgbjay commented on #199
So....this is weird. I just booted up my VM again to get the stack trace and without changing anything, the issue seems to have gone.

Sorry if this was just a bug my end Jan, I will monitor it and let you know if it occurs again - for the moment I think we are ok!

[2021-08-06 15:43] janhenckens commented on #199
No worries! I'll close the issues for now, do reopen it if/when the issue should pop up again.

[2021-08-06 15:43] #199 closed

[2021-08-10 14:02] jornwildenbeest commented on #178
@brambeekman for me it was adding the following code in the beginnen of the scout.php config file.

[code]

But I couldn't figure out what was causing the error..

[2021-08-10 14:04] janhenckens commented on #178
Instantiating the Commerce plugin before `new Product()` is called in Scout does indeed fix it.
I can fix it by using a different method to check wether something is an element or not, I'll try to have a fix out by the end of the week.

[2021-08-13 16:00] janhenckens commented on #178
Fixed in Fixed in today's release!

[2021-08-13 16:00] #178 closed

[2021-08-13 16:01] janhenckens commented on #163
This was fixed in today's release!

[2021-08-13 16:01] #163 closed

[2021-08-13 20:31] BradleyDRyan opened #201 "Sync indices with front-end form"
I have a front-end form on my site for submissions. I'd like to refresh my indices to refresh on submission. Any ideas?

[2021-08-14 08:25] janhenckens commented on #201
If you want to add the newly created element to the index you could hook onto an `Elements::EVENT_AFTER_SAVE_ELEMENT` for example and do `$event->sender->searchable()`. That'll kick off Scout's regular "after an entry is updated" flow.

Would that be sufficient or do you want to refresh the entire index?

[2021-08-23 14:13] toyflish opened #205 "Sync only on Entry Events"
I got a Section with huge Entries with a matrix with hundreds of fields in 4 languages. I have another Section Routines that are indexed in algolia.
With scout-plugin enabled when I hit save on an entry in the huge-entry-section, the request takes 2minutes to resolve with hundreds of sql selects going on.
When I disable scout-plugin, the time to save huge entries goes down to 5 seconds.

I guess t

[2021-08-30 08:07] janhenckens commented on #205
Hey @toyflish, good point, I can see how that would create an issue.
Maybe moving the events here:

https://github.com/studioespresso/craft-scout/blob/e7709b69d90dec7de870f6ff28e1505d8e1edf54/src/Scout.php#L142-L146

To the settings/config file with these as default. That way you could change them out as needed.

Seems like a pretty safe change.

[2021-08-30 08:08] #201 closed

[2021-09-02 01:01] sjcallender commented on #205
@toyflish - We're seeing the same thing, but it seems it only began after recently updating to Craft 3.7.x. Is that your experience too?

@janhenckens - We're eager for a solution too. If necessary, I believe we can resort to console sync on a cron, but something that allows us to keep content-based syncing from the CP would be phenomenal.

[2021-09-02 08:53] janhenckens commented on #205
@sjcallender Hmm, weird that it would only show up after 3.7.x, the plugin certainly hasn't changed since then and Craft's internal events we're listening for have always been Element based, triggering for entries as well as matrix blocks.

I'll try to work out the above solution  and get back to you asap!

[2021-09-02 14:01] timkelty commented on #205
@sjcallender 👍  Just talked it over with @janhenckens and I think he has a plan to address.

[2021-09-02 15:44] mgburns opened #207 "Add ability to update Algolia Index Settings to CP Utility"
It would be nice if the `scout/index/update-settings` console command added in #19 was exposed via the CP utility so that it could be run via the admin when SSH access is restricted.

[2021-09-02 20:21] janhenckens commented on #205
@toyflish @sjcallender Just released 2.4.2 which includes a new `ShouldBeSearchableEvent`, that should give you the option to bail out of the searchable behavior for anything that's not an entry. Docs can be found [here](https://github.com/studioespresso/craft-scout#shouldbesearchableevent). Could you give this solution a try and report back?

Kudos to @timkelty for the back and forth :)

[2021-09-02 20:27] sjcallender commented on #205
Sweet. Thanks @janhenckens.

My main back-end dev is on vacation and I'm not a PHP/plugin dev, so what file would that snippet from the docs go into? Into a custom module?

[2021-09-02 20:29] janhenckens commented on #205
Yes, in a module. You'd have to add some code to check the element in question too, just adding it like the example will result in nothing ever being searchable again so you don't want that :)

[2021-09-06 15:35] toyflish commented on #205
thanks @janhenckens,
when I save the page and check with `is_a($event->element, 'craft\elements\Entry')` for having a Entry-element, I get the event fired for all entries linked to the current Entry and all other entries in that structure (not 100% sure but looks like from the logs).
How can I access the entry that is currently edited in the cp from inside that event-hook to only return true if th

[2021-09-07 10:29] zizther opened #210 "Support PHP 8"
It would be great to support PHP 8 by supporting `tightenco/collect` 8+ or using `illuminate/collections` which may offer future proofing.
I know there are a few PR for this, but wanted to make this an issue we can follow.

[2021-09-07 18:29] janhenckens commented on #210
Hey @zizther! Thanks for bringing it up again, definitely something I want to fix asap. Will have a look at the PR's and at getting the tests to run across versions.

Would you be up for doing some testing if/when I get it up & running on a branch?

[2021-09-07 20:37] pixelbeatcreative opened #211 "Truncate Text String"
Can anyone assist on how you would truncate a text string either by characters or words? I have a text field but only want either 110 characters or 15 words to be used as a summary.

Right now I have this as my transformer:
`$description = $entry->businessDescription`

And this in the return:
`'description' => $description,`

Any help would be greatly appreciated.

[2021-09-07 21:13] zizther commented on #210
For sure. More than happy to test!

[2021-09-08 14:28] sjcallender commented on #205
@janhenckens - I'm a bit confused on how to implement the event too.

We have a homepage entry (id=2) that, currently, when saved, it triggers sync for all of its related products entries. We want to stop sync these products when the homepage entry is saved. We added the following to our module.

[code]

The above still syncs the products.

However, if change the conditional to the following, we'r

[2021-09-08 15:31] sjcallender commented on #205
Got it working using the slug.

[code]

[2021-09-08 17:57] janhenckens commented on #205
Hmm, fair point @toyflish. Sounds like you want to disable the updating of related events then?

[2021-09-08 18:03] sjcallender commented on #205
@janhenckens - That's what we're trying to do too.

In my code above, I'm realizing it works only if I'm not "applying" a draft, provisional or regular. Some guidance would be appreciated.

[2021-09-08 18:24] janhenckens commented on #205
@sjcallender @toyflish  Sounds like not having related entries automatically indexed would fix it for you both?

I had intended the event to give you the option to check wether or not the element is an entry and not for example a matrix block, like it @toyflish's original question. I'll have a think on how to check for related entries.

[2021-09-08 20:24] pixelbeatcreative opened #212 "Syncing Expired Entries"
If you set an expiration date at the time an entry is created, when that expiration date arrives, will Algolia somehow be synced, or does the entry need to be manually saved in order to be synced with Algolia?

Is there any way to automate this if it isn't already?

[2021-09-08 20:35] timkelty commented on #212
The failsafe way to do this is to index the expiry date, and then filter those out on the frontend (numeric filter).

Additionally, you can run a cron that checks for newly expired entries and resaves/reindexes them, but for it to always be instant, you should filter them out from your requests.

[2021-09-08 20:47] pixelbeatcreative commented on #212
Thank you so much for your help! Do you know if there are docs somewhere where I can see an example of how to do that? Algolia doesn't provide much help on how to do that type of stuff

[2021-09-08 20:48] timkelty commented on #212
@pixelbeatcreative let me see if I can dig up an example…

[2021-09-09 13:04] timkelty commented on #212
@pixelbeatcreative for the frontend bit, you'll want to use a `filter`: https://www.algolia.com/doc/guides/managing-results/refine-results/filtering/how-to/filter-by-numeric-value/?client=javascript

First, make sure your transformer is indexing the element's`expiryDate` as a timestamp.

Then on the client-side, when you query, filter on that with the current date as the value:

[code]

If you're

[2021-09-09 14:18] pixelbeatcreative commented on #212
@timkelty Thank you so so much for this!!! I greatly appreciate your assistance, this helps a ton! Cheers!

[2021-09-09 14:18] #212 closed

[2021-09-09 14:27] janhenckens commented on #212
Thanks @timkelty!

[2021-09-14 10:39] bymayo commented on #192
@janhenckens Any idea when 3.0 will be released? Currently can't update any other Algolia plugins to the latest versions because of this change. I get the same error.

[2021-09-15 17:21] pixelbeatcreative commented on #211
Can anyone point me in the right direction or assist me with this. I'm still struggling and any help will be greatly appreciated.

[2021-09-15 17:43] janhenckens commented on #211
Could you give this a try @pixelbeatcreative? https://stackoverflow.com/questions/965235/how-can-i-truncate-a-string-to-the-first-20-words-in-php

[2021-09-15 18:12] pixelbeatcreative commented on #211
@janhenckens Thank you so much for pointing me in the right direction. Would it be possible to help me format it for this plugin? I've never developed in PHP and am more of a noob to these more advanced techniques. I just tried the below code and it doesn't work. I'm thinking I need to somehow truncate the text before I call it in the return. Am I anywhere close? And again, I TRULY appreciate you

[2021-09-15 18:21] janhenckens commented on #211
So you can put this at the bottom of your scount config file, outside the config array:

[code]

and then in your transformer you do `$body = limit_word_count($entry, 10);`

That should do the trick :)

[2021-09-15 22:51] pixelbeatcreative commented on #211
@janhenckens Thank you, thank you, thank you!!  I got it working now :)

[2021-09-15 22:51] #211 closed

[2021-09-15 23:13] pixelbeatcreative commented on #211
Just in case anyone else needs this, I had to edit the above code a bit and then I added an else statement for those items that already had less than 15 characters.

`function limit_word_count($entry, $limit = 15) {
    if (str_word_count($entry->body, 0) > $limit) {
        $words = str_word_count($entry->body, 2);
        $pos   = array_keys($words);
        $entry  = substr($entry->body, 0, $po

[2021-09-19 14:40] janhenckens commented on #210
@zizther you can test the PHP8 branch by changing the line for the package in your `composer.json` to:

`"studioespresso/craft-scout": "dev-php8 as 2.5.0"`

And then running composer update.

Let me know if you run into any issues! (tests don't work yet as this also upgrades PHPUnit, working on that)

[2021-09-20 06:29] janhenckens commented on #192
Looking into it this week! algolia/algoliasearch-client-php 3.0.0 doesn't actually change anything, they only dropped support for PHP 7.2. And given that we're (finally ™) adding PHP 8 support (#210), this might be a good time to do both.

[2021-09-22 21:54] zizther commented on #210
@janhenckens Thanks for pushing this update.
I have tested on PHP 8.0.8 and 8.0.10, I have not noticed any issues yet.

I am going to be using this a bit more over the next couple of days, I will flag any issues I see.

[2021-09-28 08:56] nicolasbinet commented on #176
@timkelty Any chance this will be integrated ?

[2021-09-28 12:02] timkelty commented on #176
@nicolasbinet pinging @janhenckens, as he has taken over management of the repo.

[2021-09-28 18:53] janhenckens commented on #192
@bymayo @Stalex89

I'm going to combine this with a release that supports PHP 8 or higher (supports, not requires).
If you'd like you can try the branch to see if it installs on your environments. You can do that by changing the line for the package in your composer.json to:

`"studioespresso/craft-scout": "dev-php8 as 2.5.0"`

And then running `composer update`. Could you give that a try and let

[2021-09-29 16:42] heymarkreeves commented on #205
@janhenckens Weighing in to also request disabling automatic indexing of related entries. We, too, have a very large database and would prefer to just push the entry being saved into Algolia for performance reasons. Related content will be pushed as those entries are saved.

[2021-10-03 12:49] janhenckens commented on #210
@zizther Have you run into any issues so far?

[2021-10-03 13:11] janhenckens commented on #205
Turns out Mr. @timkelty has done this already in #175 :). Would a config setting to simply disable syncing of related elements outright work in this case?

[2021-10-04 19:17] heymarkreeves commented on #205
@janhenckens I think so, yes. We don't have any scenarios where we want to sync the related elements when syncing any one particular element. Related content would be indexed within that element's document, or indexed independently when it was saved. Thanks!

[2021-10-04 22:10] pixelbeatcreative commented on #212
Just in case anyone needs this, another way to accomplish this is by using the configure widget. "expireDate" is the name of the attribute.

[code]

[2021-10-04 23:44] zizther commented on #210
@janhenckens I've been playing around and doing what I had done before, which probably doesn't cover every use case, but from what I've done I have not encountered any issues. It flushes and reindexes the entries fine, all data is good.
From my POV this is looking good.

[2021-10-07 19:08] #194 closed

[2021-10-12 01:28] sjcallender commented on #205
@janhenckens It works great! Thanks for this.

[2021-10-20 16:41] chadwells commented on #115
Hi there. Is there a workaround for this? Our use case is that we do not want to override any settings that have been set in the Algolia admin site, so we wouldn't be specifying any index settings within our Scout config file.

[2021-10-20 18:21] chadwells commented on #115
D'oh! Yep that completely makes sense. 😵 Thanks!

[2021-10-29 13:40] martinhellwagner opened #223 "Saving an entry is very slow when Scout is enabled"
We're running a large Craft install with close to 100 multisites and dozens of plugins. However, since we're running it on good hardware, saving is pretty fast and smooth – until we enable the Scout plugin. Is there anything that Scout does when saving an entry that takes such a long time, like indexing the whole page? If so, is it possible to do that with a Cron Job, like refreshing the indexes w

[2021-10-29 18:16] timkelty commented on #69
@gregkohn I know lots of people are waiting for this, so it seems like a PR would be valuable, unless @janhenckens has already started something.

[2021-10-30 08:24] janhenckens commented on #69
@gregkohn Sure would! Feel free to submit it and/or hit me up on discord if there's anything you'd like to discuss !

[2021-11-03 10:11] martinhellwagner commented on #223
@janhenckens
@timkelty

Any ETA on the PR from your side? The saving process on our Production site is unfortunately very slow because of this, and also leads to slugs not being updated (see https://github.com/craftcms/cms/issues/9888).

[2021-11-03 10:12] martinhellwagner commented on #223
Yes, we're running the queue with `php craft queue/listen`.

[2021-11-03 10:23] martinhellwagner commented on #223
@janhenckens
@timkelty

Any ETA on a PR for this issue? Even with the parameter `queue => true`, saving takes quite a long time. We're running our queue with the command `php craft queue/listen`.

[2021-11-03 11:56] timkelty commented on #223
@martinhellwagner would you be able to send over a composer.json/lock and a db dump tp support@craftcms.com so I could try and diagnose locally?

[2021-11-03 11:58] martinhellwagner commented on #223
@timkelty

I did that already. I've been talking to Brad Bell about it – my request number is 16592.

[2021-11-03 12:55] janhenckens commented on #223
Disabling automatic relation-indexing might be worth a try here too (`'indexRelations' => false`, in the latest version of Scout)

[2021-11-03 14:21] martinhellwagner commented on #223
@janhenckens

I've just tried that – unfortunately, saving is still slow. Only disabling Scout makes entry saving fast.

[2021-11-08 21:59] Alxmerino opened #224 "Multi-site support for Craft v3.4.*"
I have a site where I need to index entries in all my sites to the same index. See code bellow

[code]
When I run this it gives me an error

[code]

This is because Craft 3.4 has a different implementation for the `getSiteById` function than on more recent versions, I cannot upgrade to a more recent version of Craft so I'm hoping someone has a workaround for this.

Thank you and thank you for this

[2021-11-11 08:34] martinhellwagner commented on #223
@timkelty
@janhenckens

I'm wondering if Scout update are really pushed into the queue? Even with Scout enabled, I can't see any extra queue jobs being pushed. Or is nothing pushed at all when `'sync' => false` is set? In that case however, it doesn't make sense that saving is so much slower when Scout is enabled.

[2021-11-11 08:38] martinhellwagner commented on #223
One more thought: we're running our queue in Redis – can that be a problem? When switching to the Craft Queue, saving seems fast even with Scout enabled.

[2021-11-11 09:24] janhenckens commented on #223
@martinhellwagner Are your other queue jobs running is they should?

When `sync` is set to false, Scout should **not** be doing anything on entry save.

Could you maybe send me the composer lock & json + a db dump as well (jan at henckens.be) so I can have a look? Thanks!

[2021-11-11 09:31] martinhellwagner commented on #223
@janhenckens

Yes, other queue jobs are running normally. If Scout is not doing anything on entry save, how come saving is still much slower when Scout is enabled? Is there a chance this parameter is not read correctly?

I've sent over the Composer files to @timkelty about a week ago – will you be able to access them, or should I send them anew?

[2021-11-11 09:41] janhenckens commented on #223
@martinhellwagner Could you send them over again? Then I can have a look right away.

[2021-11-11 12:37] martinhellwagner commented on #223
@janhenckens

I'm just in the process of uploading the Database to Google Drive – it's pretty big (5 GB). Will update this message when the upload is finished.

Here's the link to the zipped file containing the composer files as well as the config folder: https://drive.google.com/file/d/1WHZLLFEQk7tXyMoRWeH434vPSjcMttvw/view?usp=sharing

[2021-11-11 14:03] timkelty commented on #223
@martinhellwagner can you tell us a bit about your redis instance and connection looks like? I wonder if there is some throttling going on there…

[2021-11-11 14:23] martinhellwagner commented on #223
@timkelty

It's really just a simple Redis instance – all the configuration is in the `app.php` config file:

[code]

[2021-11-11 14:27] timkelty commented on #223
@martinhellwagner right – what I'm more interested in is the actual instance itself (where it is hosted, specs, etc).
You could be experiencing some network issues, if the redis host is a remote connection.

[2021-11-11 14:28] martinhellwagner commented on #223
Nope, it's on the same server as the MySQL DB and the code. The server has pretty large specs and is not experiencing any CPU/RAM shortages whatsoever.

[2021-11-11 18:34] janhenckens commented on #223
@martinhellwagner I have the site up & running, could you point me to an entry/site that is having the issue or is it on just about every save/entry?

[2021-11-12 10:23] martinhellwagner commented on #223
@janhenckens

It's very random to be honest, and could happen to any entry – mostly to the entries with lots of relations though. The one I was always testing with was `/admin/entries/pages/30381-zusammenarbeit?site=default` – if you change the slug for example, saving takes a long time, and probably because of that the slug sometimes doesn't get updated.

[2021-11-24 12:27] andygrn opened #225 "No reindexing on EVENT_AFTER_MOVE_IN_STRUCTURE"
Scout v1 had an event handler for Element::EVENT_AFTER_MOVE_IN_STRUCTURE, to reindex when elements were moved inside structures (important if you're indexing entry order). Scout v2 seems to have lost this feature.

An `it_attaches_to_the_element_move_in_structure` test does exist in tests/unit/EventHandlersTest.php, but it looks to be testing the wrong thing.

[2021-11-27 19:37] goraxan commented on #192
@janhenckens I can confirm both plugins are now compatible with the dev-php8 branch, thanks!

[2021-11-30 07:17] lenvanessen commented on #180
@timkelty would you accept a PR for this? Need this as well. Most likely will go with the same approach as Blitz (a batch mode flag)

[2021-11-30 09:25] janhenckens commented on #180
Hey @lenvanessen, will have a look this week!

[2021-11-30 09:26] janhenckens commented on #180
Hey @lenvanessen! Sure, happy to review a PR for this if you can write it up 👍

[2021-11-30 09:27] janhenckens commented on #192
@goraxan Thanks! Merging this this week together with  #210.

[2021-11-30 19:15] janhenckens commented on #224
Hey @Alxmerino, which version of Craft are you on specifically? I'm testing on 3.4.10 with this in my index config:

`return $query->section('events')->siteId('*');`

and that works.

[2021-11-30 19:29] janhenckens commented on #225
Looks like `Element::EVENT_AFTER_MOVE_IN_STRUCTURE` doesn't include the actual `element` that's being saved:

https://github.com/craftcms/cms/blob/4330199e5b7001ca85b9d919d81e465dcc275742/src/base/Element.php#L4220-L4227

So I'm not sure this can be done at the moment.

[2021-12-01 19:17] janhenckens commented on #224
Also could you check which version of Scout you are running? This was fixed in https://github.com/studioespresso/craft-scout/issues/163, which was included in version 2.4.1, released on 13/8/21.

[2021-12-01 21:02] Alxmerino commented on #224
Hi @janhenckens,

I'm running Craft 3.4.30 and Scout 2.3.1 which I believe it's the latest official release.

[2021-12-01 21:05] janhenckens commented on #224
You should be able to install 2.5.0 through composer (https://packagist.org/packages/studioespresso/craft-scout) or through Craft's updater!

[2021-12-01 21:11] Alxmerino commented on #224
I'll give that a try and report back, thank you!

[2021-12-06 14:26] fantasticmachine commented on #192
@janhenckens can this get merged/released? I'm trying to get a site up to date and can't currently install Scout and Algolia plugins together because of this conflict.

[2021-12-06 15:05] janhenckens commented on #192
@fantasticmachine Been trying to get tests working with the algolia 3.x, hoping to have it out very soon!

[2021-12-06 15:13] fantasticmachine commented on #192
Is there any way I can work around it for the short term? I tried installing using "studioespresso/craft-scout": "dev-php8 as 2.5.0" but get different errors

Problem 1
    - Root composer.json requires studioespresso/craft-scout dev-php8 as 2.5.0, found studioespresso/craft-scout[dev-dependabot/composer/tightenco/collect-tw-8.0.0, dev-dependabot/composer/tightenco/collect-tw-8.0.4, dev-feature/gh

[2021-12-06 18:53] janhenckens commented on #192
@fantasticmachine It's out in 2.6.0, you can give it a try!

[2021-12-06 20:47] janhenckens commented on #224
Closing this for now @Alxmerino, feel free to reopen if you're still having the problem.

[2021-12-06 20:47] #224 closed

[2021-12-07 17:44] janhenckens commented on #210
This was fixed in 2.6.0, which is out now!

[2021-12-07 17:44] #210 closed

[2021-12-07 17:44] #192 closed

[2021-12-08 11:22] andygrn commented on #225
`$event->sender` should give you the element, although Craft seems to fire an update event on move anyway, and doesn't fire the after_move event for other elements that have been shifted, so I'm not sure this would even be useful.

[2021-12-08 11:22] #225 closed

[2021-12-15 20:53] zizther commented on #183
@timkelty Is this something you are still considering, as this would be quite a good option alongside Algolia

[2021-12-15 23:17] timkelty commented on #183
Absolutely! Haven't had the time, but something to keep in mind, @janhenckens

[2021-12-16 11:06] janhenckens commented on #183
Yes, would be nice to add but I'm a bit strapped for time at the moment. Will try to have a look!

[2021-12-16 11:14] zizther commented on #183
No immediate need from my end, I have been looking at alternatives to Algolia, TypeSense seems to be a suitable solution. MeiliSearch is also a popular alternative, but is a few features behind at the moment, but under development and are opening up a cloud hosted version alongside their self hosted version in 2022.

[2021-12-16 15:27] markhuot commented on #223
This line is the culprit (in my testing). The new `indexRelations` seemed to help. However, if you have `maxRevisions` set then every save is also a delete and that triggers the same massive query for related elements.

https://github.com/studioespresso/craft-scout/blob/cc68a24e1524fd3f63f5f5e64f615a8c644673a5/src/Scout.php#L166

Is it possible to throw `beforeDeleteRelated` behind the same `index

[2021-12-16 15:40] timkelty commented on #223
@markhuot that sounds like a great idea!

[2021-12-20 11:56] qrazi opened #226 "Tests failing"
I am having 7 tests failing when running the testsuite locally. Not entirely sure why. Anyone any idea?

- PHP version 7.4.26
- using the docker compose file for the DB
- Craft CMS (in composer.lock): 3.7.26
- master branch
- command executed: `php vendor/bin/codecept run unit`

Output (result):

[code]

[2021-12-20 13:26] janhenckens commented on #226
Hey @qrazi, I've been struggling with these EventHandlersTest.php tests for a couple of weeks too. Not sure what is causing the code to be run twice, while the event itself is only fired once.

I've debugged it during normal operations and can confirm it only happens when running the tests.
Eager to get these fixed too, I'll keep working it.

[2021-12-20 15:05] janhenckens commented on #226
No worries, it's just been bugging me that I kind find what the problem is 😀

[2021-12-21 18:51] janhenckens commented on #223
The fix @markhuot mentioned is out in 2.6.1.

[2021-12-22 11:23] martyspain commented on #223
This is a game-changing fix for us. I was having nightmares trying to figure out why saving was taking so long on our Craft install and throwing ever-more expensive and overpowered hardware at the problem was barely scratching the surface. Just implementing `'indexRelations' => false` in our config and updating to 2.6.1 has dropped our save times from over 3 minutes to just a few seconds. Thank yo

[2021-12-24 15:49] qrazi commented on #226
Pretty sure I found the cause for this particular type of failing, but noticing 3 others failed still.. Digging a bit deeper.

[2021-12-26 13:36] janhenckens commented on #226
Cool, feel free to make a PR when/if you find something!

[2021-12-30 11:14] qrazi commented on #226
@janhenckens Quick question; the test `it_doesnt_update_related_elements_when_indexRelations_is_false` fails as well, expects `0` cached, but finds `1`. I think that is because `saveElement` always updates an Entry's updatedDate field (see https://github.com/studioespresso/craft-scout/blob/master/tests/unit/EventHandlersTest.php#L167), so `1` should actually be expected? What do you think?

[2022-01-25 16:11] pixelbeatcreative opened #229 "Formatting Dates"
I have my return for my post date set:

`'postDate' => $entry->postDate->format(\DateTime::ATOM)`

but I'm trying to figure out how to transform it to a date only, `Jan. 15, 2022` format. Is there a way to do this? Any help would be greatly appreciated. PS. I'm not a strong PHP developer. :)

[2022-01-25 16:19] joshuapease commented on #229
Hi @pixelbeatcreative! https://www.php.net/manual/en/datetime.format.php is the PHP documentation you'd be looking for.

Date formatting is a native PHP feature, so this isn't unique to the Scout plugin and can be used anywhere you have a [DateTime](https://www.php.net/manual/en/class.datetime.php) object.

To achieve your desired format, you'd do something like this. I'd recommend looking at thos

[2022-01-25 16:25] pixelbeatcreative commented on #229
Ah! Thank you so much for your help!

[2022-01-29 09:10] janhenckens commented on #229
Thanks for helping out @joshuapease!

[2022-01-29 09:10] #229 closed

[2022-01-29 09:25] janhenckens commented on #226
Hey @qrazi, sorry about the late reply!

i think you're on to something with this specific test. We're testing if a related element gets indexed (in this case it shouldn't) so element 1 gets saved and should expect `1`,  element 2 (the related element) doesn't get saved and should expect `0`.

In my install, the save of element 1 actually results in `2` in cache and I can't figure out why. The sam

[2022-01-29 09:26] #223 closed

[2022-01-31 14:53] qrazi commented on #226
I got side-tracked in my personal life a bit, so haven't been able to create PR(s). Will try to get to it soon, but in any case; there are tests that create a new plugin instance (`$scout = new Scout('scout');`). But, the test suites bootstrapping code already registered and booted the plugin. So the plugin's `init()` function gets executed twice. This in turn means that the Event Handlers are reg

[2022-01-31 18:36] janhenckens commented on #226
Doing `$scout = Scout::getInstance();` instead of `$scout = new Scout();` actually does the trick 😃. Thanks for that man, that's been bothering me for a while now!

Pushing this to develop so make sure you start any PR's from there.

[2022-02-09 17:03] gregkohn commented on #69
👋 For my part, I've moved companies and switched focuses, and unfortunately won't be able to assist in moving forward here. Good luck!

[2022-02-09 18:56] janhenckens commented on #69
@mdunbavan Finding time is certainly a problem for me in this case. Happy to chat or have a call about how we could tackle if you'd like to give it a go! (feel free to ping me on discord, same username)

[2022-02-10 14:16] mdunbavan commented on #69
It would be really interesting to hear why this feature of multiple elements/types/categories being saved to one index was removed from this version? I get that we need validation rules but one of the key killer features of Scout v1.1 was the ability to do this because algolia js worked so well with it.

[2022-02-15 00:00] joshuapease commented on #193
Thought I'd follow up on this issue and see if Greg's solution was still something you'd consider.

We've been using a forked version of Scout... and that's been serving us well, but it would be really great to get back on the canonical plugin at some point.

Cheers!

[2022-02-21 13:56] bengreenbank opened #230 "No settings for `renderingContent`"
Currently there is no way to set the configuration for the `renderingContent` [parameter](https://www.algolia.com/doc/api-reference/api-parameters/renderingContent/).

It would be nice to be able to set this via the API

[2022-03-03 11:18] joepagan commented on #180
Just chipping in that if your indices are limited to just commerce elements run on the import you could set:

scout.php config:
[code]

feedme event
[code]

[2022-03-13 09:53] janhenckens commented on #193
Hey @joshuapease @gregkohn, thanks for putting in the work and sorry about the delay, still coming to grips with every nook and cranny of this plugin :).

This is out in 2.7.0 so you should be good to switch back to the released version of the plugin now!
(merging this into the Craft 4 beta later too)

[2022-03-13 09:53] #193 closed

[2022-03-17 10:25] #181 closed

[2022-03-17 10:28] janhenckens commented on #173
This was released in version 2.5.0 https://github.com/studioespresso/craft-scout/blob/master/CHANGELOG.md#250---2021-10-07

[2022-03-17 10:28] #173 closed

[2022-03-18 15:25] joshuabaker commented on #230
Unless I’m mistaken, this appears to be the only way to actually configure the latest Instant Search implementation (without overriding a lot of complex internals).

[2022-03-18 15:50] joshuabaker commented on #230
**N.B.** Whilst IDEs will flag this method as missing, the underlying code _will_ pass `renderingContent` through to Algolia.

[2022-03-22 18:55] janhenckens commented on #230
Fixed and out in 2.7.2 - Thanks for the PR @joshuabaker!

[2022-03-28 13:52] janhenckens opened #234 "[Craft 4] Replace tightenco/collect with illuminate/collections"

[2022-03-30 17:36] #234 closed

[2022-04-11 10:07] peteeveleigh opened #236 "Update products in index when they are added to a Commerce Sale"
Is it possible, or what would be the simplest way, to get Scout to push an update to the Index when a Commerce product is added to a sale. In this case, the sale is being saved and not the product so the update isn't triggered.

[2022-05-19 03:20] lopugit opened #240 "Argument 1 passed to craft\services\Sites::getSiteById() must be of the type int, null given"
I'm getting this error when I try to visit the scout utilities page

[code]

our scout.php file has 3 indices

[code]

[2022-06-09 09:04] Joobs opened #241 "When not using the Admin Key what permissions are needed?"
I am creating a multi environment config, one application with an index per environment.

Algolia recommends to not use the Admin key, and to make an API key per environment with the correct permissions and each key to only access the relevant index.

But I'm not sure what permissions Scout actually needs to mimic the Admin key?
Details are here: https://www.algolia.com/doc/guides/security/api-key

[2022-06-14 22:41] joshuapease opened #242 "Setting for Element Types used in `SearchableBehavior::getRelatedElements`"
Thanks for all your hard work on Scout. It's been a go to plugin at the agency I work for.

I'd be happy to open a PR for this feature request if it sounds reasonable to include in Scout.

---

I'm working on a Craft Commerce site with about 250,000 SKUs.

We've recently started to hit memory limit exceeded errors for some of our Entries that have lots of relationships to Products.

Commenting out

[2022-06-19 15:01] janhenckens commented on #241
Hey @Joobs, haven't tested this but from your list I'd say there are needed:

Add records (addObject): allowed to add or update a records in the index.
Delete records (deleteObject): allowed to delete an existing record.
List indices (listIndexes): allowed to get a list of all existing indices.
Get index settings (settings): allowed to read all index settings.
Set index settings (editSettings): al

[2022-06-19 15:05] janhenckens commented on #242
Hey @joshuapease, that could be a good solution, you're welcome to make a PR for it.

Are you aware of the option to set `indexRelations` to false, which completly removes the indexing of related elements? Not sure if that works for your use.

[2022-06-19 15:05] #242 closed

[2022-06-21 12:03] marten-wirelab opened #243 "Elements not deleted when skipped by transformer"
I'm indexing a few different types of entries that may or may not contain certain fields. Currently, I have a few possible criteria whereby I don't want to index an entry, which is done by returning an empty array from the transformer.

The expected behaviour is that items are removed from the index when it changes so it falls within any of the criteria. However, it seems that skipping an entry fr

[2022-06-27 17:28] acalvino4 commented on #183
+1

[2022-06-27 21:14] Joobs opened #244 ".env variables stopped working, unable to save plugin settings"
I'm not sure why but Scout stopped pulling in the .env variables.  I thought it might be a caching issue so I went to the plugin settings page and went to save and it tells me "unable to save plugin settings"

It was working before, and i've not changed anything regarding Scout.

Not sure how I can diagnose the issue?

Craft: 3.7.44
Scout: 2.7.2

[2022-06-27 23:41] Joobs commented on #244
I was trying to flush/update the index via the command line.

The `.env` variable for the Admin API key isn't working with this method, I had to hard code it. However, the Application ID works as a `.env` variable. So I'm not sure why variable works and the other doesn't.

I ended up flushing and rebuilding the indexes through the Utilities section.

[2022-06-28 09:29] janhenckens commented on #244
Hey @Joobs
That's strange, as the Utility will just use the same config and thus the same variables as the command line interface.

Are your logs showing anything when you try to save the settings?

[2022-07-13 15:54] jamesmacwhite opened #245 "Scout Utilities page button spacing"
The buttons for index related actions on the Utilities page do not have equal spacing between the flush and update settings button.

![image](https://user-images.githubusercontent.com/8067792/178777674-257da959-18f2-4965-8f64-08e19835b672.png)

[2022-07-13 16:04] jamesmacwhite commented on #245
I believe it's because the first three form controls are in their own form container, then the next two are in their own form container after.

[2022-07-13 16:27] jamesmacwhite commented on #244
The settings for the key fields are all environment variable aware, I use environment variables for all three in my Scout config.

[code]

Which works OK, there is no reason why the admin key shouldn't work as an env var, as it's being put through parseEnv. You're not missing the $ sign before the environment name or happen to have typo with the environment name at all?

[2022-07-15 07:06] #172 closed

[2022-07-24 12:04] jamesmacwhite commented on #180
Has anyone made any progress in turning off Algolia sync events during a FeedMe import or deferring until the end?

Disabling the sync outright prevents general entries that are updated by Control Panel users being synchronised automatically, so it's not an ideal solution, you can hook into various events with FeedMe to trigger imports instead, but I was wondering if anyone had thoughts of a solut

[2022-07-28 09:14] lenvanessen commented on #180
@jamesmacwhite I've done it using the a listener on the queue:
[code]

And then, i've bound this to only be triggered if it's a console request in my modules init:
[code]

[2022-07-28 10:17] jamesmacwhite commented on #180
@lenvanessen Interesting solution, I'll take a look.

You can technically disable the queue jobs with `queue => false`, this obviously has performance implications, but if you run the queue with a worker that's separate you can do that without too many issues, but it does mean they are being triggered still individually on feed importing.

I am however a fan of triggering these at the end of a suc

[2022-07-28 10:29] lenvanessen commented on #180
@jamesmacwhite, there are a couple of solutions you can go with, for one, you can temporary change the .env. You can see an example in the SetupController from Craft, where they set certain variables.

So in your case, you could set the `scout.php` to:
[code]

And then using the feed-me imports
[code]

And once the import is done:

[code]

Or, if you don't want to touch the `.env`, you could set a

[2022-07-29 08:11] jamesmacwhite commented on #180
@lenvanessen Thanks. This is an interesting solution! My concern around using a mutex lock would be you could potentially trigger a mutex lock error if Feed Me processing would be happening to be occurring while another entry that's connected to Algolia events (not part of FeedMe) tries to be updated at the same time, but I'll have to do some testing.

[2022-08-15 21:27] twitcher07 commented on #69
I am looking to have a global index across multiple element types (in my case combining entries and assets). So a solution like this would be very crucial since it seems like there is currently not a way to do it with this plugin.

[2022-10-17 18:30] ccchapman opened #249 "[4.x] Element query executed before Craft is fully initialized"
A warning can be logged when the `ScoutIndex::criteria` calls `$query->site()`.

**config/scout.php**

[code]

**storage/logs/web.log**

[code]

## Refs

- https://github.com/craftcms/cms/issues/11033#issuecomment-1112750997

[2022-10-24 17:09] janhenckens commented on #245
Should be fixed in the next release:

![Screenshot 20221024-190858-8Urr7qTY@2x](https://user-images.githubusercontent.com/755428/197585051-5f9829c7-cba6-42a0-8871-8bccd5f9b64d.png)

[2022-10-24 17:09] #245 closed

[2022-10-24 17:10] janhenckens commented on #244
Closing this for now, feel free to re-open if the issue is still happening and is scout related.

[2022-10-24 17:10] #244 closed

[2022-10-24 17:13] janhenckens commented on #249
What sort of request of action are you doing when seeing this error @ccchapman?

[2022-10-27 07:05] janhenckens commented on #241
Closing this for now, feel free to reopen is you have any further questions.

[2022-10-27 07:05] #241 closed

[2022-11-03 10:15] janhenckens opened #254 "Move all indexing/de-indexing work to queue"
This is the culmination of https://github.com/studioespresso/craft-scout/pull/248 and https://github.com/studioespresso/craft-scout/pull/171 by @aaronbushnell and @EpocSquadron.

Previous Scout would do the checking wether or not something would need to be indexed or de-indexed inline and then do the indexing in a job if you had the `queue` config setting enabled. (de-indexing was always done inli